{{ form_start(form, {'attr': {'class': 'stack'}}) }}
<div class="stack">
    {{ form_row(form.title) }}

    <div class="grid2">
        {{ form_row(form.startDate) }}

        {{ form_row(form.endDate) }}
    </div>
</div>

<div class="text-end">
    <button type="submit" class="btn btn-md btn-primary">
        {{ icon('save') }}
        <span>
        {{ button_label|default('Enregistrer') }}
    </span>
    </button>
</div>
{{ form_end(form) }}
