<div class="dropdown ms-2">
    <a class="text-dark text-decoration-none dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
       role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        {% if app.user.avatar is null %}
            <img src="{{ asset('build/images/avatars/default.jpg') | imagine_filter('admin_avatar') }}"
                 alt="Avatar par défaut" class="img-fluid navbar-avatar">
        {% else %}
            <img src="{{ asset('uploads/avatars/' ~ app.user.avatar) | imagine_filter('navbar_avatar') }}"
                 class="img-fluid navbar-avatar" alt="Avatar de {{ app.user.fullname }}">
        {% endif %}
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item {{ menu_active('app_profile') }}" href="{{ path('app_profile') }}">
                {{ icon('user-cog') }}
                Mon compte</a></li>
        <li><a class="dropdown-item" href="#">

                {{ icon('cogs') }}
                Paramètres</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item dropdown-item-danger" href="{{ path('app_logout') }}">
                {{ icon('sign-out-alt') }}
                Déconnexion
            </a>
        </li>
    </ul>
</div>