<aside class="sidebar -translate-x-full lg:translate-x-0" id="sidebar">
    <div class="text-left text-2xl font-bold text-slate-900 dark:text-white flex items-center gap-2 mb-4">
        <a href="{{ path('dashboard_home') }}" class="flex items-center w-full gap-2">
            <img src="{{ asset('images/logo.png') }}" alt="Logo" class="w-20 h-20 rounded-full object-cover">
        </a>
    </div>
    <nav class="sidebar--nav">
        <div>
            <div class="sidebar--nav-title">
                Menu
            </div>
            <ul class="flex flex-col gap-1">
                <li>
                    <a href="{{ path('dashboard_home') }}"
                       class="sidebar--nav-item {{ menu_active('dashboard_home') }}">
                        {{ icon('monitor') }}
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="{{ path('dashboard_event_index') }}"
                       class="sidebar--nav-item {{ menu_active('dashboard_event') }}">
                        {{ icon('calendar-days') }}
                        Évènements
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_ticket_validation') }}"
                       class="sidebar--nav-item">
                        {{ icon('scan-barcode' ) }}
                        Validateur de billets
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_home') }}" class="sidebar--nav-item">
                        {{ icon('undo-2') }}
                        Retour au site
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>

<div class="fixed inset-0 z-[35] hidden bg-slate-500/50 backdrop-blur-[2px]" id="sidebar-backdrop"></div>

<spotlight-bar target=".sidebar--nav a" trigger-id="spotlight--trigger"></spotlight-bar>