{% extends 'admin/base.html.twig' %}

{% import 'admin/appointment/macros.twig' as element %}

{% block body %}

    <div class="dashboard-page-header">
        <nav class="breadcrumb" aria-label="Breadcrumb">
            <ol>
                <li>
                    <a href="{{ path('admin_home') }}">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor" viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"></path>
                        </svg>
                        Accueil
                    </a>
                </li>
                {{ icon('chevron-right') }}
                <li>
                    <a href="{{ path('admin_appointment_index') }}">
                        Rendez-vous
                    </a>
                </li>
                {{ icon('chevron-right') }}
                <li aria-current="page">
                    <span>{{ appointment.id }}</span>
                </li>
            </ol>
        </nav>
    </div>

    <div class="grid grid-cols-3 gap-6 mt-10 mb-10">
        <div class="col-span-3 sm:col-span-1">
            <div class="border border-slate-200 dark:border-slate-800 p-5">
                <!-- title : Informations -->
                <div class="flex items-center justify-between">
                    <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-6">Client</h2>
                </div>

                <!-- client informations -->
                <div class="flex flex-col">
                    <div class="w-full border-b border-gray-200 dark:border-gray-700 mb-4">
                        <h5 class="text-base font-medium text-gray-900 dark:text-white mb-1">Nom</h5>
                        <p class="text-base text-gray-600 dark:text-gray-400 mb-2">
                            <a href="{{ path('admin_users_show', {'id': appointment.client.id}) }}"
                               class="link"
                               target="_blank"
                            >
                                {{ appointment.client.fullName }}
                            </a>
                        </p>
                    </div>
                    <div class="w-full border-b border-gray-200 dark:border-gray-700 mb-4">
                        <h5 class="text-base font-medium text-gray-900 dark:text-white mb-1">Email</h5>
                        <p class="text-base text-gray-600 dark:text-gray-400 mb-2">
                            <a href="mailto:{{ appointment.client.email }}" class="link">
                                {{ appointment.client.email }}
                            </a>
                        </p>
                    </div>
                    <div class="w-full border-gray-200 dark:border-gray-700">
                        <h5 class="text-base font-medium text-gray-900 dark:text-white mb-1">Phone</h5>
                        <p class="text-base text-gray-600 dark:text-gray-400 mb-2">
                            <a href="tel:{{ appointment.client.phone }}" class="link">
                                {{ appointment.client.phone }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="border border-slate-200 dark:border-slate-800 p-5 mt-6">
                <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-6">
                    Détails de la prestation
                </h2>

                <div class="flex flex-col">
                    <div class="w-full border-b border-gray-200 dark:border-gray-700 mb-4">
                        <h5 class="text-base font-medium text-gray-900 dark:text-white mb-1">Nom</h5>
                        <p class="text-base text-gray-600 dark:text-gray-400 mb-2">
                            <a href="{{ path('admin_prestation_edit', {'id': appointment.prestation.id}) }}"
                               class="link"
                               target="_blank">
                                {{ appointment.prestation.name }}
                            </a>
                        </p>
                    </div>
                    <div class="w-full border-b border-gray-200 dark:border-gray-700 mb-4">
                        <h5 class="text-base font-medium text-gray-900 dark:text-white mb-1">Durée</h5>
                        <p class="text-base text-gray-600 dark:text-gray-400 mb-2">
                            {{ appointment.getDuration|duration_format }}
                        </p>
                    </div>
                    <div class="w-full border-b border-gray-200 dark:border-gray-700 mb-4">
                        <h5 class="text-base font-medium text-gray-900 dark:text-white mb-1">Prix</h5>
                        <p class="text-base text-gray-600 dark:text-gray-400 mb-2">
                            {{ appointment.subtotal|price_format }}
                        </p>
                    </div>
                    <div class="w-full border-gray-200 dark:border-gray-700">
                        <h5 class="text-base font-medium text-gray-900 dark:text-white mb-1">Description</h5>
                        <p class="text-base text-gray-600 dark:text-gray-400 mb-2">
                            {{ appointment.prestation.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-3 sm:col-span-2">
            <div class="border border-slate-200 dark:border-slate-800 p-5 mb-6">
                <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-6">
                    Rendez-vous
                </h2>

                <div class="overflow-x-auto -mx-4 sm:-mx-6">
                    <table class="table w-full">
                        <thead>
                        <tr>
                            <th class="px-4 py-2 text-left">Date</th>
                            <th class="px-4 py-2 text-left">Créneau</th>
                            <th class="px-4 py-2 text-left">Statut</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="border px-4 py-2">
                                {{ appointment.date|date('d/m/Y') }}
                            </td>
                            <td class="border px-4 py-2">
                                {{ appointment.startTime|date('H:i') }} - {{ appointment.endTime|date('H:i') }}
                            </td>
                            <td>
                                {% if appointment.passed %}
                                    <span class="badge badge-danger">
                                        Terminé
                                    </span>
                                {% else %}
                                    {% if appointment.statusConfirmed %}
                                        <span class="badge badge-success">
                                            Confirmé
                                        </span>
                                    {% elseif appointment.statusCanceled %}
                                        <span class="badge badge-danger">
                                            Annulé
                                        </span>
                                    {% else %}
                                        <span class="badge badge-warning">
                                            En attente
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="flex justify-between items-center flex-col sm:flex-row gap-3 mt-6">
                    {% if appointment.statusPending and not appointment.passed %}
                        <form method="post"
                              action="{{ path('admin_appointment_confirm', {'id': appointment.id}) }}">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('confirm_appointment' ~ appointment.id) }}">
                            <button class="btn-md btn-primary">
                                {{ icon('check') }}
                                Confirmer
                            </button>
                        </form>
                    {% endif %}
                    {% if (appointment.statusPending or appointment.statusConfirmed) and not appointment.passed %}
                        <form method="post" action="{{ path('admin_appointment_cancel', {'id': appointment.id}) }}">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('cancel_appointment' ~ appointment.id) }}">
                            <button class="btn-md btn-outline-primary">
                                {{ icon('x') }}
                                Annuler
                            </button>
                        </form>
                    {% endif %}

                </div>
            </div>

            <div class="border border-slate-200 dark:border-slate-800 p-5">
                <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-6">
                    Paiement
                </h2>

                <div class="flex flex-col">
                    <div class="w-full border-b border-gray-200 dark:border-gray-700 mb-4">
                        <h5 class="text-base font-medium text-gray-900 dark:text-white mb-1">Montant</h5>
                        <p class="text-base text-gray-600 dark:text-gray-400 mb-2">
                            {{ appointment.total|price_format }}
                        </p>
                    </div>
                    <div class="w-full border-b border-gray-200 dark:border-gray-700 mb-4">
                        <h5 class="text-base font-medium text-gray-900 dark:text-white mb-1">Statut</h5>
                        <p class="text-base text-gray-600 dark:text-gray-400 mb-2">
                            {% if appointment.paid %}
                                <span class="badge badge-success">
                                    Payé
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    Non payé
                                </span>
                            {% endif %}
                        </p>
                    </div>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="w-full border-gray-200 dark:border-gray-700">
                            <h5 class="text-base font-medium text-gray-900 dark:text-white mb-1">ID de transaction</h5>
                            <p class="text-base text-gray-600 dark:text-gray-400 mb-2">
                                {% if appointment.transaction %}
                                    ID {{ appointment.transaction.id }} :
                                    <a href="{{ path('admin_transaction_show', {'id': appointment.transaction.id}) }}"
                                       class="link" target="_blank">
                                        Consulter la transaction
                                    </a>
                                {% else %}
                                    Non payé
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                    {% if not appointment.paid and not appointment.statusCanceled and not appointment.statusPending %}
                        <div class="mt-6">
                            <a class="btn-md btn-primary"
                               href="{{ path('admin_appointment_payment', {'id': appointment.id}) }}">
                                {{ icon('credit-card') }}
                                <span class="ml-2">Procéder au paiement</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



{% endblock %}
