{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% block body %}

    {% include 'partials/flash.html.twig' with {floating: true, duration: 3} %}

    <div class="container-box">
        <div class="max-w-6xl mx-auto">
            <!-- arrow back -->
            <div class="flex items-center gap-2 mt-5 mb-5">
                <a href="{{ path('app_account_profile') }}" class="flex items-center gap-2 text-zinc-500 hover:text-zinc-600">
                    {{ icon('arrow-left') }}
                    <span>Retour</span>
                </a>
            </div>

            <div class="stack-large mb-10">
                {{ form_start(formPassword, {'attr': {'class': 'stack'}}) }}
                <div>
                    <h2 class="text-base font-semibold">Modifier votre mot de passe</h2>
                    <p class="text-sm text-zinc-500 mb-4">Mettez à jour votre mot de passe pour sécuriser votre compte.</p>

                    <div class="grid sm:grid-cols-6 gap-x-6 gap-y-4">
                        <div class="md:col-span-3">
                            {{ form_row(formPassword.currentPassword) }}
                        </div>
                        <div class="md:col-span-3">
                            {{ form_row(formPassword.newPassword) }}
                        </div>
                    </div>
                </div>

                <div class="mt-2 flex items-center justify-end gap-x-6">
                    <button type="submit" class="btn btn-primary">
                        Mettre à jour
                    </button>
                </div>
                {{ form_end(formPassword) }}
            </div>
        </div>
    </div>

{% endblock %}
