{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% block body %}

    <div class="page-header">
        <div class="container-box">
            <div class="stack">
                <div class="flex flex-row justify-start items-center">
                    <div class="mr-4 flex-shrink-0">
                        <img src="{{ app.user|avatar }}"
                             alt="Avatar de {{ app.user.fullname }}"
                             class="rounded-full w-24 h-24 object-cover border-2 border-primary-900 dark:border-primary-300 p-0.5">
                    </div>
                    <div>
                        <h2 class="h2">{{ app.user.fullname }}</h2>
                        <p class="text-muted text-sm">
                            Inscrit <span class="lowercase">{{ app.user.createdAt|ago }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/flash.html.twig' with {floating: true, duration: 3} %}

    <nav-tabs class="nav-tabs-bar nav-tabs-bar-icons container-box">
        <a href="#profil" data-tab-id="profil">
            {{ icon('user') }}
            Profil
        </a>
        <a href="#tickets" data-tab-id="appointments">
            {{ icon('calendar') }}
            Mes tickets
        </a>
    </nav-tabs>

    <div class="container-box mt-5 mb-10 stack-large">

        <div id="profil">
            <div class="stack-large">
                {% if app.user.deletedAt %}
                    <div class="notification-info">
                        <h2 class="notification-heading">Attention !</h2>
                        <p>
                            Vous avez demandé un la suppression de votre compte. <br>
                            Votre compte sera supprimé {{ app.user.deletedAt|date_diff }}.
                        </p>
                    </div>
                {% endif %}

                {% if requestEmailChange and not requestEmailChange.createdAt|is_older_than_hours(1) %}
                    <div class="notification-info">
                        <h2 class="notification-heading">Attention !</h2>
                        <p>
                            Vous avez demandé un changement d'adresse email.
                            <br>
                            Veuillez vérifier votre
                            nouvelle boîte {{ requestEmailChange.email }} pour confirmer.
                        </p>
                    </div>
                {% endif %}

                {{ form_start(formProfile, {'attr': {'class': 'stack'}}) }}
                <h3 class="h3">Mes informations</h3>

                <div class="stack card card-padding">
                    <div class="grid2">
                        {{ form_row(formProfile.fullname) }}
                        {{ form_row(formProfile.phone) }}
                    </div>

                    <div class="grid2">
                        <div>
                            {{ form_row(formProfile.email) }}
                            {% if not app.user.isVerified %}
                                <p class="text-sm text-red-800">Veuillez confirmer votre adresse email.
                                    <a href="{{ path('app_send_verification_email') }}" class="underline">
                                        Envoyer un email de confirmation</a>
                                </p>
                            {% endif %}
                        </div>

                        <div>
                            {{ form_row(formProfile.dateOfBirthday) }}
                        </div>
                    </div>
                </div>

                <div class="stack card card-padding">
                    <h3 class="h3">Avatar</h3>

                    <div class="grid2">
                        {{ form_row(formProfile.avatarFile, { 'label': false }) }}
                    </div>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn-md btn-primary">
                        {{ icon('save') }}
                        <span>Enregistrer</span>
                    </button>
                </div>
                {{ form_end(formProfile) }}

                {{ form_start(formPassword, {'attr': {'class': 'stack'}}) }}
                <h3 class="h3">Mot de passe</h3>

                <div class="card card-padding">
                    <div class="grid2">
                        {{ form_row(formPassword.password.first) }}
                        {{ form_row(formPassword.password.second) }}
                    </div>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn-md btn-primary">
                        {{ icon('key') }}
                        <span>Modifier mon mot de passe</span>
                    </button>
                </div>

                {{ form_end(formPassword) }}

                <div class="stack">
                    <h3 class="h3 text-danger">Supprimer mon compte</h3>

                    <p class="text-base">
                        {% if app.user.deletedAt %} Votre compte sera supprimé automatiquement {{ app.user.deletedAt|date_diff }}.
                        {% else %}
                            Vous n'êtes pas satisfait de nos services ? Vous pouvez demander la suppression de votre compte.
                            Vous aurez 7 jours pour changer d'avis. Passé ce délai, votre compte sera supprimé définitivement.
                        {% endif %}
                    </p>

                    {% if app.user.deletedAt %}
                        <div class="text-end">
                            <a href="{{ path('app_cancel_account_deletion') }}" class="btn btn-md btn-light">
                                {{ icon('trash') }}
                                <span>Annuler la suppression</span>
                            </a>
                        </div>
                    {% else %}
                        <div class="text-end">
                            <button class="btn btn-danger" data-modal-id="deleteAccountModal">
                                {{ icon('trash') }}
                                <span>Demander la suppression</span>
                            </button>
                        </div>

                        <modal-dialog id="deleteAccountModal" hidden="hidden" overlay-close>
                            <section class="modal-box">
                                <header>Confirmer la suppression</header>
                                <button data-dismiss aria-label="Close" class="modal-close">
                                    {{ icon('x') }}
                                </button>

                                <div class="stack">
                                    <p class="text-muted">
                                        Vous êtes sur le point de supprimer votre compte. <br>
                                        Pour confirmer cette demande merci de rentrer votre mot de passe. Le compte sera
                                        automatiquement supprimé au bout de 7 jours.
                                    </p>

                                    {{ form_start(formDeleteAccount, {'attr': {'class': 'stack'}}) }}

                                    {{ form_row(formDeleteAccount.password) }}

                                    <div class="text-end">
                                        <button type="submit" class="btn btn-md btn-danger">
                                            {{ icon('trash') }}
                                            <span>Confirmer la suppression</span>
                                        </button>
                                    </div>
                                    {{ form_end(formDeleteAccount) }}
                                </div>

                            </section>
                        </modal-dialog>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="tickets">
            <div class="stack">
                <h3 class="h3">Mes tickets</h3>

                <div class="card card-padding">
                    <p class="text-muted">Vous n'avez pas de tickets ? découvrez nos évènements pour commencer </p>

                    <div class="mt-6">
                        <a href="" class="btn-md btn-primary flex gap-3">
                            {{ icon('calendar-days', 20) }}
                            Découvrir les évènements
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
