{% extends 'base.html.twig' %}

{% block title %}{{ reservation.event.name }}{% endblock %}

{% block body %}
    {% include 'partials/flash.html.twig' with {floating: true, duration: 3} %}

    <div class="container-box bg-slate-50 pb-20">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-10">
            <div class="stack col-span-1 md:col-span-2 bg-white shadow-md rounded">
                {% if paymentResult %}
                <div class="bg-green-100 flex flex-col md:flex-row items-center gap-3 p-3">
                    <div class="rounded-md bg-white p-3">
                        {{ icon('check', 30) }}
                    </div>
                    <div class="flex flex-col">
                        <h2 class="text-base font-medium">Votre réservation a été effectuée avec succès</h2>
                        <p class="mt-1 text-sm text-slate-500">
                            Vous recevrez un email de confirmation avec les détails de votre réservation.
                            Vous pouvez également consulter les détails de votre réservation ci-dessous.
                        </p>
                    </div>
                </div>
                {% endif %}
                <div class="px-4 md:px-6 pt-4">
                    <div class="stack">
                        <h2 class="h4">Réservation</h2>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div class="col-span-2 md:col-span-1">
                                <p class="text-slate-500">Référence</p>
                                <p>{{ reservation.reservationNumber }}</p>
                            </div>
                            <div class="col-span-2 md:col-span-1">
                                <p class="text-slate-500">Date de réservation</p>
                                <p>{{ reservation.buyAt|format_datetime('medium', 'short', locale='fr') }}</p>
                            </div>
                            <div class="col-span-2 md:col-span-1">
                                <p class="text-slate-500">Ticket(s) acheté(s)</p>
                                <p>{{ reservation.quantity }}</p>
                            </div>
                            <div class="col-span-2 md:col-span-1">
                                <p class="text-slate-500">Nom associé</p>
                                <p>{{ reservation.name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="stack mt-10">
                        <h2 class="h4">Événement</h2>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div class="col-span-2 md:col-span-1">
                                <p class="text-slate-500">Événement</p>
                                <p>{{ reservation.event.name }}</p>
                            </div>
                            <div class="col-span-2 md:col-span-1">
                                <p class="text-slate-500">Date</p>
                                <p>{{ event_duration(reservation.event.startDate, reservation.event.endDate) }}</p>
                            </div>
                            <div class="col-span-2 md:col-span-1">
                                <p class="text-slate-500">Lieu</p>
                                <p>{{ reservation.event.location }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10 bg-primary-50 -mx-4 md:-mx-6 p-4 md:p-6 rounded">
                        <h2 class="h5">Ticket(s)</h2>
                        <div class="stack mt-4">
                            {% for ticket in reservation.tickets %}
                                    <a href="#"
                                       onclick="document.getElementById('showTicketModal{{ loop.index }}').removeAttribute('hidden'); return false;"
                                       class="bg-white w-full p-2 rounded shadow flex justify-between items-center hover:bg-slate-50 hover:cursor-pointer no-underline hover:no-underline text-black">
                                        <div class="flex items-center gap-2 md:gap-4">

                                            <div class="rounded p-3
                                                    {% if ticket.isValid %}bg-primary-50 text-primary-900{% else %}bg-red-50 text-red-800{% endif %}">
                                                {{ icon('ticket', 24) }}
                                            </div>

                                            <div class="flex flex-col">
                                                <h2 class="h6">{{ ticket.ticketNumber }}</h2>
                                                <p class="text-sm text-slate-400">Validité: {{ ticket.event.endDate|format_datetime('medium', 'short', locale='fr') }}</p>
                                            </div>
                                        </div>
                                        <div>
                                            {{ icon('chevron-right') }}
                                        </div>
                                    </a>

                                    <modal-dialog id="showTicketModal{{ loop.index }}"
                                                  hidden="hidden" overlay-close>
                                        <section class="w-96 rounded-3xl dark:bg-dark-soft border border-slate-200 dark:border-slate-700 flex flex-col relative bg-primary-950">
                                            <div class="w-full h-full mx-auto z-10 bg-primary-900 rounded-2xl">
                                                <div class="flex flex-col">
                                                    <div class="bg-white relative drop-shadow-2xl  rounded-xl p-4 m-4">
                                                        <div class="flex-none sm:flex">
                                                            <div class="flex-auto justify-evenly">
                                                                <div class="flex items-center justify-between">
                                                                    <div class="flex items-center  my-1">
                                                                        <span class="mr-3 rounded-full bg-white w-8 h-8">
                                                                            <img src="{{ asset('images/app-logo.svg') }}" alt="airindia" class="h-8 p-1">
                                                                        </span>
                                                                        <h2 class="font-medium">{{ app_name }}</h2>
                                                                    </div>
                                                                    <div class="flex items-center">
                                                                        <button data-dismiss aria-label="Close" class="modal-close">
                                                                            {{ icon('x') }}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="border-b border-dashed my-5"></div>
                                                                <div class="flex items-center">
                                                                    <div class="flex flex-col">
                                                                        <div class="flex-auto text-xs text-gray-400 my-1">
                                                                            <span class="mr-1 ">Référence</span>
                                                                        </div>
                                                                        <div class="w-full flex-none text-lg text-primary-800 font-bold leading-none">{{ ticket.ticketNumber }}</div>
                                                                    </div>
                                                                </div>
                                                                <div class="border-b border-dashed my-5 pt-5">
                                                                    <div class="absolute rounded-full w-5 h-5 bg-primary-900 -mt-2 -left-2"></div>
                                                                    <div class="absolute rounded-full w-5 h-5 bg-primary-900 -mt-2 -right-2"></div>
                                                                </div>
                                                                <div class="flex items-center mb-2 text-sm">
                                                                    <div class="flex flex-col">
                                                                        <span class="text-sm text-gray-400">Événement</span>
                                                                        <div class="font-semibold">{{ ticket.event.name }}</div>
                                                                    </div>
                                                                </div>
                                                                <div class="flex items-center mb-2 text-sm">
                                                                    <div class="flex flex-col">
                                                                        <span class="text-sm text-gray-400">Lieu</span>
                                                                        <div class="font-semibold">{{ ticket.event.location }}</div>
                                                                    </div>
                                                                </div>
                                                                <div class="flex items-center mb-4">
                                                                    <div class="flex flex-col text-sm">
                                                                        <span class="text-gray-400">Début</span>
                                                                        <div class="font-semibold">{{ ticket.event.startDate|date('d/m/Y') }}</div>
                                                                        <span class="font-semibold">{{ ticket.event.startDate|date('H:i') }}</span>
                                                                    </div>
                                                                    <div class="flex flex-col text-sm ml-auto">
                                                                        <span class="text-gray-400">Fin</span>
                                                                        <div class="font-semibold">{{ ticket.event.endDate|date('d/m/Y') }}</div>
                                                                        <span class="font-semibold">{{ ticket.event.endDate|date('H:i') }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="border-b border-dashed my-5 pt-5">
                                                                    <div class="absolute rounded-full w-5 h-5 bg-primary-900 -mt-2 -left-2"></div>
                                                                    <div class="absolute rounded-full w-5 h-5 bg-primary-900 -mt-2 -right-2"></div>
                                                                </div>
                                                                <div class="flex flex-col py-5 justify-center items-center text-sm ">
                                                                    <h6 class="font-bold text-center">QR Code</h6>
                                                                    <img src="{{ vich_uploader_asset(ticket, 'qrCodeFile') }}" alt="{{ ticket.ticketNumber }}-qr-code" class="w-32 h-32">
                                                                    {% if ticket.isValid %}
                                                                        <p class="mt-2 text-xs text-gray-400">Présentez ce QR Code à l'entrée</p>
                                                                    {% else %}
                                                                        <p class="mt-2 text-xs text-red-400">Ce ticket n'est plus valide</p>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </modal-dialog>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="stack col-span-1 md:col-span-1">
                <div class="bg-white p-4 md:p-6 shadow-md rounded">
                    <h2 class="h4">Résumé de la commande</h2>
                    <div class="stack">
                        <div class="border-t border-slate-200 pt-4">
                            <p class="text-slate-500">Prix: {{ reservation.event.price|price_format }}</p>
                            <div class="flex justify-between">
                                <p class="text-slate-500">Quantité: {{ reservation.quantity }}</p>
                                <p>{{ reservation.subTotal|price_format }}</p>
                            </div>
                        </div>
                        <div class="border-t border-slate-200 pt-4">
                            <div class="flex justify-between">
                                <p class="text-slate-500">Sous-total</p>
                                <p>{{ reservation.subTotal|price_format }}</p>
                            </div>
                            <div class="flex justify-between">
                                <p class="text-slate-500">Frais de service</p>
                                <p>{{ reservation.serviceCharge|price_format }}</p>
                            </div>
                        </div>
                        <div class="flex justify-between border-t border-slate-200 pt-4">
                            <p class="text-lg text-primary-600 font-medium">Total payé</p>
                            <p class="text-lg text-primary-600 font-medium">{{ reservation.totalAmount|price_format }}</p>
                        </div>
                        <a href="" class="btn btn-light">
                            Télécharger le reçu
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}