{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="mx-auto">
        <div>
            <a class="inline-flex items-center gap-2 text-sm/6 text-zinc-500 dark:text-zinc-400"
                  href="{{ path('admin_event_index') }}">
                {{ icon('chevron-left') }}
                Évènements
            </a>
        </div>

        <div class="mt-4 flex flex-wrap items-end justify-between gap-4">
            <div class="flex flex-wrap items-center gap-6">
                <div class="w-32 shrink-0">
                    <a href="{{ path('admin_event_show', {id: event.id}) }}">
                        <img class="rounded-lg shadow object-cover w-32 h-24"
                             src="{{ event|event_image }}" alt="{{ event.slug }}-logo">
                    </a>
                </div>
                <div>
                    <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
                        <h1
                                class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white">
                            {{ event.name }}
                        </h1>
                        {% if event.isExpired %}
                            <span
                                    class="inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-red-400/20 text-red-700 group-data-[hover]:bg-red-400/30 dark:bg-red-400/10 dark:text-red-300 dark:group-data-[hover]:bg-red-400/15">
                                Ventes terminées
                            </span>
                        {% else %}
                            <span
                                    class="inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-lime-400/20 text-lime-700 group-data-[hover]:bg-lime-400/30 dark:bg-lime-400/10 dark:text-lime-300 dark:group-data-[hover]:bg-lime-400/15">
                                En vente
                            </span>
                        {% endif %}
                    </div>
                    <div class="mt-2 text-sm text-zinc-500 grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-4">
                        {% if event.location %}
                            <div class="col-span-full flex items-center mt-2">
                                {{ icon('map-pin') }}
                                <span class="ml-2">{{ event.location }}</span>
                            </div>
                        {% endif %}
                        <div class="flex flex-col gap-2">
                            <div class="flex items-center">
                                {{ icon('calendar') }}
                                <span class="ml-2">{{ event_duration(event.startDate, event.endDate) }}</span>
                            </div>
                            <div class="flex items-center text-red-500">
                                {{ icon('calendar-x-2') }}
                                <span class="ml-2">Fin des ventes : {{ event.endSaleDate|format_datetime('medium', 'short', locale='fr') }}</span>
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="flex items-center">
                                {{ icon('coins') }}
                                <span class="ml-2">
                                {% if event.price > 0 %}
                                    {{ event.price|price_format }}
                                {% else %}
                                    Gratuit
                                {% endif %}
                            </span>
                            </div>
                            <div class="flex items-center">
                                {{ icon('users') }}
                                <span class="ml-2">
                                {% if event.maxSpace > 0 %}
                                    {{ event.maxSpace }} places
                                {% else %}
                                    Places illimitées
                                {% endif %}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-around items-end gap-4">
                <a href="{{ path('admin_event_edit', {id: event.id}) }}"
                   class="btn btn-outline">
                    Modifier
                </a>
                {% if event.isActive %}
                <a href="{{ path('app_event_show', {slug: event.slug}) }}" target="_blank"
                   class="btn btn-primary">
                    Consulter
                </a>
                {% else %}
                <a href="{{ path('app_event_show', {slug: event.slug}) }}" target="_blank"
                   class="btn btn-primary">
                    Prévisualiser
                </a>
                {% endif %}
            </div>
        </div>
        <div class="mt-8 grid gap-6 md:gap-8 sm:grid-cols-3">
            <div>
                <hr role="presentation" class="w-full border-t border-zinc-950/10 dark:border-white/10">
                <div class="mt-6 text-sm font-normal sm:text-sm/6">Total revenue</div>
                <div class="mt-3 text-lg font-medium sm:text-xl">{{ totalAmountIncome|price_format }}</div>
            </div>
            <div>
                <hr role="presentation" class="w-full border-t border-zinc-950/10 dark:border-white/10">
                <div class="mt-6 text-sm font-normal sm:text-sm/6">Tickets vendus</div>
                <div class="mt-3 text-lg font-medium sm:text-xl">{{ nbTickets }}{% if event.maxSpace > 0 %} / {{ event.maxSpace }}{% endif %}</div>
            </div>
            <div>
                <hr role="presentation" class="w-full border-t border-zinc-950/10 dark:border-white/10">
                <div class="mt-6 text-sm font-normal sm:text-sm/6">Réservations</div>
                <div class="mt-3 text-lg font-medium sm:text-xl">{{ nbReservations }}</div>
            </div>
        </div>
        <h2 class="mt-12 text-base/7 font-semibold text-zinc-950 sm:text-sm/6 dark:text-white">Réservations récentes</h2>
        <div class="table-wrapper">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>N° de réservation</th>
                        <th>Date d'achat</th>
                        <th>Ticket(s)</th>
                        <th>Client</th>
                        <th>Moyen de paiement</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>
                        <a class="table-cell-link" href="{{ path('admin_reservation_show', {reservation: reservation.id}) }}"></a>
                        {{ reservation.reservationNumber }}
                    </td>
                    <td>
                        <a class="table-cell-link" href="{{ path('admin_reservation_show', {reservation: reservation.id}) }}"></a>
                        {{ reservation.buyAt|format_datetime('medium', 'short', locale='fr') }}
                    </td>
                    <td>
                        <a class="table-cell-link" href="{{ path('admin_reservation_show', {reservation: reservation.id}) }}"></a>
                        {{ reservation.quantity }}
                    </td>
                    <td>
                        <a class="table-cell-link" href="{{ path('admin_reservation_show', {reservation: reservation.id}) }}"></a>
                        {{ reservation.name }}
                    </td>
                    <td>
                        <a class="table-cell-link" href="{{ path('admin_reservation_show', {reservation: reservation.id}) }}"></a>
                        {{ reservation.payment.paymentMethod }}
                    </td>
                    <td>
                        <a class="table-cell-link" href="{{ path('admin_reservation_show', {reservation: reservation.id}) }}"></a>
                        {{ reservation.totalAmount|price_format }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
