{% set totalDisplayedPages = 5 %}
{% set pagesAroundCurrent = 1 %}
{% set startPage = max(1, current - pagesAroundCurrent) %}
{% set endPage = min(pageCount, current + pagesAroundCurrent) %}

{% if pageCount > 1 %}
    <ul class="pagination">

        {% if current > 1 %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">&laquo;</a>
            </li>
        {% else %}
            <li aria-disabled="true">
                <span>&laquo;</span>
            </li>
        {% endif %}

        {% if startPage > 1 %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            </li>
            {% if startPage > 2 %}
                <li aria-disabled="true">
                    <span>&hellip;</span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in startPage..endPage %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="is-active">
                    <span>{{ page }}</span>
                </li>
            {% endif %}
        {% endfor %}

        {% if endPage < pageCount %}
            {% if endPage < pageCount - 1 %}
                <li aria-disabled="true">
                    <span>&hellip;</span>
                </li>
            {% endif %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if current < pageCount %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">&raquo;</a>
            </li>
        {% else %}
            <li aria-disabled="true">
                <span>&raquo;</span>
            </li>
        {% endif %}
    </ul>
{% endif %}
