{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% if watchlist is not empty %}
    <div class="container-box page-header">
        <section class="container">
            <h1 class="h2 mb-4">Reprendre</h1>
            <div class="courses">
                {% for progress in watchlist %}
                    {% include 'account/_progress-card.html.twig' %}
                {% endfor %}
            </div>
        </section>
    </div>
    {% endif %}

    <section class="container-box pb-20">
        <div class="course__hero py-10">
            <h1>Les derniers <strong>tutoriels</strong></h1>
            <p>
                Envie d'apprendre de nouvelle choses ? Voici les derniers contenus disponibles.
            </p>
        </div>
        <div class="courses">
            {% for content in latest_content %}
                {% if content.isCourse %}
                    {% include 'courses/_course_item.html.twig' with {course: content} %}
                {% elseif content.isFormation %}
                    {% include 'formations/_formation_item.html.twig' with {formation: content} %}
                {% endif %}
            {% endfor %}
        </div>
    </section>


    <section class="container-box pt-40 pb-60 grid relative bg-white dark:bg-dark-soft">
        <div class="home__bg"></div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mb-32">
            <div>
                <div class="background-halo right border-halo fade-out-image right max-w-md order-2 md:order-1 mr-auto reveal" data-delay=".3">
                    <img src="{{ asset('images/symfony-installation-picture.png') }}" alt="" class="shadow-xl rounded-md mx-auto">
                </div>
            </div>
            <div class="stack order-1 md:order-2">
                <h2 class="text-2xl font-bold text-primary-950 dark:text-white reveal">Ce que <span class="text-primary-600">vous trouverez</span> ici ?</h2>
                <p class="text-muted reveal" data-delay=".2">
                    Vous trouverez des tutoriels et des formations sur le développement web.
                    Je partage mes connaissances et mes expériences car c'est ma façon de contribuer à la communauté.
                </p>
                <div class="mt-5 reveal" data-delay=".3">
                    <a href="{{ path('app_course_index') }}" class="btn-primary">
                        Découvrir mes contenus
                    </a>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
            <div class="stack">
                <h2 class="text-2xl font-bold reveal">Ce que <span class="text-primary-600">je ne suis pas</span> ?</h2>
                <p class="text-muted reveal" data-delay=".2">
                    Je ne suis pas un expert, je suis un passionné.<br> Je ne suis pas un formateur, je suis un autodidacte.<br><br>
                    <em>Mon objectif est de partager mes connaissances et d'apprendre de nouvelles choses. Suivez-moi dans cette aventure sur YouTube, Twitch et GitHub.</em>
                </p>
                <ul class="list-unstyled mt-5 mx-auto md:mr-auto md:ml-0 flex gap-4 reveal" data-delay=".3">
                    <li class="">
                        <a href="https://www.youtube.com/channel/UCITKwfT7qVXjdHHu84Atodw" target="_blank"
                           class="flex flex-col items-center gap-1 text-primary-600">
                            {{ icon('youtube', '24') }} YouTube
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitch.tv/lazarefortune" target="_blank"
                           class="flex flex-col items-center gap-1 text-primary-600">
                            {{ icon('twitch', '24') }} Twitch
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/lazarefortune" target="_blank"
                           class="flex flex-col items-center gap-1 text-primary-600">
                            {{ icon('github', '24') }} GitHub
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="background-halo right border-halo fade-out-image right max-w-md ml-auto reveal" data-delay=".3">
                    <img src="{{ asset('images/live-stream.gif') }}" alt="" class="shadow-xl rounded-md">
                </div>
            </div>
        </div>
    </section>

    <!-- section premium -->
    <section class="container-box py-10 bg-white dark:bg-dark-soft">
        <div class="stack">
            <div class="flex items-center gap-1 mx-auto reveal">
                <span class="inline-block">{{ icon('crown', 26) }}</span>
                <h2 class="text-2xl text-center font-bold">
                    Contenus <span class="text-primary-600">premium</span>
                </h2>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-10 pb-28">
                <div class="stack">
                    <h3 class="h5 text-center font-bold reveal" data-delay=".3">
                        C'est quoi un contenu premium ?
                    </h3>
                    <p class="text-muted max-w-3xl mx-auto text-center reveal" data-delay=".4">
                        Les contenus premium sont des tutoriels et des formations exclusives pour les membres du site.
                        Vous aurez accès à des contenus inédits, des ressources et des avantages exclusifs.
                    </p>
                </div>
                <div class="stack">
                    <h3 class="h5 text-center font-bold reveal" data-delay=".3">
                        Pourquoi des contenus premium ?
                    </h3>
                    <p class="text-muted max-w-3xl mx-auto text-center reveal" data-delay=".4">
                        Les contenus premium sont 100% gratuits. Ils sont réservés aux membres du site qui souhaitent soutenir mon travail et accéder à des contenus exclusifs.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <!-- besoin d'aide -->
    <section class="container-box py-20 bg-white-soft dark:bg-dark-soft-2">
        <div class="stack">
            <h2 class="text-2xl text-center font-bold reveal">Besoin d'<span class="text-primary-600">aide</span> ?</h2>
            <p class="text-muted max-w-3xl mx-auto text-center reveal" data-delay=".2">
                Vous avez besoin de plus d'accompagnement ? ou simplement envie de discuter ?
            </p>
            <div class="mt-5 reveal grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5" data-delay=".3">
                <div class="card card-padding flex flex-col">
                    <h3 class="h4 text-center mb-3">Superprof</h3>
                    <p class="text-muted mb-5 flex-1">
                        Grâce à Superprof, je peux partager mes connaissances et aider les personnes qui en ont besoin.
                        Alors n'hésitez pas à me contacter.
                    </p>
                    <a href="https://www.superprof.fr/developpeur-web-php-fullstack-donne-cours-initiation-developpement-web-methodologie-pratique.html" target="_blank" class="btn-light">
                        Visiter
                    </a>
                </div>
                <div class="card card-padding flex flex-col">
                    <h3 class="h4 text-center mb-3">Discord</h3>
                    <p class="text-muted mb-5 flex-1">
                        Rejoignez le serveur Discord pour discuter, poser des questions et partager vos expériences.
                        Je suis convaincu que nous avons tous quelque chose à apprendre les uns des autres.
                    </p>
                    <a href="https://discord.gg/AZPEVwva7R" target="_blank" class="btn-light">
                        Rejoindre
                    </a>
                </div>
                <div class="card card-padding flex flex-col">
                    <h3 class="h4 text-center mb-3">Formulaire</h3>
                    <p class="text-muted mb-5 flex-1">
                        Vous avez une question, une suggestion ou une demande ? N'hésitez pas à me contacter
                        sur les réseaux sociaux, par mail ou via le formulaire de contact. Je serai ravi de vous répondre.
                    </p>
                    <a href="{{ path('app_contact') }}" class="btn-light">
                        Me contacter
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

