{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-box">
        <h1 class="text-2xl/6 font-semibold mt-5 text-center">Événements à venir</h1>
        <ul class="my-5 max-w-3xl mx-auto space-y-6 min-h-[50vh]">
            {% for row in eventsToCome %}
                <li class="bg-white dark:bg-zinc-950/90 rounded-lg border border-zinc-100 shadow p-6">
                    <div class="flex items-center justify-between">
                        <div class="flex max-sm:flex-col flex-row gap-6 py-6">
                            <div class="w-32 shrink-0">
                                <a href="{{ path('app_event_show', {slug: row.slug}) }}">
                                    <img src="{{ vich_uploader_asset(row, 'imageFile') }}" alt="{{ row.slug }}-logo"
                                         class="aspect-[3/2] rounded-lg shadow">
                                </a>
                            </div>
                            <div class="space-y-1.5">
                                <div class="text-base/6 font-medium">
                                    <a data-headlessui-state="" href="{{ path('app_event_show', {slug: row.slug}) }}">
                                        {{ row.name }}
                                    </a>
                                </div>
                                <div class="text-xs/6 text-zinc-500">
                                    <span>{{ event_duration(row.startDate, row.endDate) }}</span>
                                </div>
                                <div class="text-xs/6 text-zinc-600">
                                    {{ row.location }}
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center gap-4">
                            {% if row.isExpired %}
                                <span class="max-sm:hidden inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-red-400/20 text-red-700 group-data-[hover]:bg-red-400/30 dark:bg-red-400/10 dark:text-red-300 dark:group-data-[hover]:bg-red-400/15">Hors vente</span>
                            {% else %}
                                <span class="max-sm:hidden inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-lime-400/20 text-lime-700 group-data-[hover]:bg-lime-400/30 dark:bg-lime-400/10 dark:text-lime-300 dark:group-data-[hover]:bg-lime-400/15">En vente</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex flex-col justify-between mt-4">
                        <div class="text-xs/6 text-zinc-600">
                            Plus que {{ row.startDate|countdown('days') }} pour vous inscrire
                        </div>
                        <div class="text-xs/6 text-zinc-600">
                            <span>{{ row.price|price_format }}</span>
                        </div>
                        <div class="text-xs/6 text-red-600">
                            <span>Plus que {{ row.getRemainingSpaces }} places disponibles</span>/{{ row.maxSpace }}
                        </div>

                        <div class="flex items-center gap-4 mt-4">
                            <a href="{{ path('app_event_show', {slug: row.slug}) }}" class="text-xs/6 text-primary-600 hover:text-primary-700 dark:text-lime-300 dark:hover:text-lime-400
                            border border-primary-600 hover:border-primary-700 hover:bg-primary-50 rounded px-3 py-1.5">Voir
                                l'événement</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}

