{% extends 'blank.html.twig' %}

{% block title %}
    Installation terminée
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            confetti(
                {
                    particleCount: 100,
                    spread: 70,
                    origin: {y: 0.6}
                }
            );
        });
    </script>
{% endblock %}

    {% block body %}
        <section class="min-h-screen bg-white dark:bg-gray-900" id="my-canvas">
            <div class="flex flex-col md:flex-row w-full min-h-screen px-6 py-0 sm:py-8 lg:px-0 lg:py-0">
                <div class="flex flex-col items-center justify-center w-full min-h-screen lg:w-1/2">
                    <div class="w-full md:max-w-lg">
                        <a href="{{ path('app_home') }}"
                           class="flex items-center justify-center text-xl font-semibold text-gray-900 dark:text-white">
                            {#                        <div class="p-2 rounded-full bg-indigo-100"> <!-- Circle wrapper --> #}
                            <img class="w-20 h-20" src="{{ asset('images/hair-star-logo.svg') }}" alt="logo">
                            <!-- Smaller logo -->
                            {#                        </div> #}
                        </a>
                        <div class="w-full dark:bg-gray-800 dark:border-gray-700">
                            <h5 class="mb-4 text-3xl font-semibold text-gray-800 dark:text-gray-100">
                                Bravo!! Votre site est en ligne.
                            </h5>
                            <p class="mb-8 text-gray-500 dark:text-gray-400"
                            >Connectez vous maintenant pour commencer à l'utiliser.</p>
                            <div class="flex justify-center items-center">
                                <a href="{{ path('app_login') }}"
                                   class="btn-md btn-primary"
                                >
                                    Se connecter
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden lg:flex lg:w-1/2">
                    <img src="{{ asset('images/coiffure.webp') }}" alt="Outils de coiffure"
                         class="w-full h-full object-cover rounded-lg">
                </div>
            </div>
        </section>
    {% endblock %}

