<header class="lg:pl-[300px] fixed top-0 left-0 z-30 w-full border-b bg-white dark:bg-slate-900 dark:border-b-muted shadow-sm">
    <div class="flex items-center justify-between px-4 md:px-8 py-4">
        <div class="flex items-center gap-4">
            <button id="sidebar-button" class="btn-sidebar lg:hidden">
                <span id="btnSidebarOpen" class="hidden">{{ icon('x') }}</span>
                <span id="btnSidebarClose">{{ icon('menu', 24) }}</span>
            </button>
            <div class="w-full min-w-0 lg:px-0">
                <div class="relative">
                    <button id="spotlight--trigger"
                            class="text-base transition-colors duration-100 ease-in-out text-slate-300 py-2 pr-4 pl-10  w-full
                            appearance-none leading-normal border border-transparent rounded text-left select-none
                            truncate bg-slate-100
                            dark:bg-slate-800 dark:text-slate-600
                            flex justify-between items-center gap-8
                            ">
                        <span>Rechercher</span>
                        <span class="hidden sm:inline">⌘k</span></button>
                    <div class="pointer-events-none absolute inset-y-0 left-0 pl-4 flex items-center text-slate-300 dark:text-slate-600">
                        {{ icon('search', 18) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="flex items-center gap-3">
            <theme-switcher></theme-switcher>
            <div class="relative">
                <!-- user info -->
                <button id="user-button"
                        class="user--dropdown-button border border-slate-200 dark:border-slate-800">
                    <img class="h-8 w-8 rounded" src="{{ app.user|avatar }}"
                         alt="{{ app.user.fullname }}">
                    <div class="flex-col hidden md:flex text-start w-44">
                        <span class="text-sm">{{ app.user.fullname }}</span>
                        <span class="text-xs text-slate-500 overflow-hidden whitespace-nowrap">
                                        {{ app.user.email|truncate(20) }}
                                    </span>
                    </div>
                </button>
                <div id="user-dropdown"
                     class="user--dropdown">
                    <div class="p-2">
                        <a href="{{ path('app_profile') }}"
                           class="user--dropdown-menu-item {{ menu_active('admin_account') }}">
                            {{ icon('user' ) }}
                            <span>Mon compte</span>
                        </a>
                    </div>
                    <div class="p-2">
                        <a href="{{ path('app_logout') }}"
                           class="user--dropdown-menu-item">
                            {{ icon('log-out' ) }}
                            <span>Déconnexion</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
