{{ form_start(form) }}
<div class="stack-large">
    <div class="stack">
        <h6 class="h3">
            Informations basiques
        </h6>
        <div class="stack ">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.isActive) }}
        </div>
    </div>

    <!-- Tarification -->
    <div class="stack">
        <h6 class="h3">
            Tarification
        </h6>

        <div class="stack ">
            {{ form_row(form.price, {
                'attr': {
                    'class': 'form-input-md'
                },
                'label': 'Prix',
                'label_attr': {
                    'class': 'label'
                }
            }) }}

            {{ form_row(form.considerChildrenForPrice) }}

            <div id="form-children-price" class="hidden">
                {{ form_row(form.childrenAgeRange) }}

                {{ form_row(form.childrenPricePercentage) }}
            </div>
        </div>
    </div>

    <!-- calendar -->
    <div class="stack">
        <h6 class="h3">
            Calendrier
        </h6>
        <div class="stack ">
            <div class="grid2">
                {{ form_row(form.startTime) }}
                {{ form_row(form.endTime) }}
            </div>
        </div>
    </div>

    <div class="stack">
        <h6 class="h3">
            Personnalisation
        </h6>
        <div class="stack ">
            <div class="grid2">
                {{ form_row(form.duration) }}
                {{ form_row(form.avalaibleSpacePerPrestation) }}
            </div>

            {{ form_row(form.categoryPrestation) }}

            {{ form_row(form.tags) }}
        </div>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-md btn-primary">
            {{ icon('save') }}
            <span>
                {{ button_label|default('Enregistrer') }}
            </span>
        </button>
    </div>
</div>
{{ form_end(form) }}