{{ form_start(form) }}
<div class="stack">
    <div class="stack">
        <div class="grid2">
            {{ form_row(form.fullname) }}
            {{ form_row(form.email) }}
        </div>

        <div class="grid2">
            {{ form_row(form.phone) }}
            {{ form_row(form.dateOfBirthday, {
                'attr': {
                    'class': 'form-input-md flatpickr-date-birthday'
                }
            }) }}
        </div>

        <div class="grid2 mt-3">
            {{ form_row(form.roles) }}
        </div>
    </div>

    <div class="text-end">
        <button type="submit" class="btn-md btn-primary">
            {{ icon('save') }}
            <span>
            {{ button_label|default('Enregistrer') }}
        </span>
        </button>
    </div>
</div>
{{ form_end(form) }}