<div class="table-wrapper">
    <table class="table">
        <thead>
        <tr>
            <th>
                {{ sort_by(rows, 'ID', 'row.id') }}
            </th>
            <th>
                Avatar
            </th>
            <th>
                {{ sort_by(rows, 'Nom', 'row.fullname') }}
            </th>
            <th>
                {{ sort_by(rows, 'Email', 'row.email') }}
            </th>
            <th>
                {{ sort_by(rows, 'Ancienneté', 'row.createdAt') }}
            </th>
            <th>
                {{ sort_by(rows, 'Statut', 'row.isVerified') }}
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% if rows is empty %}
            <tr>
                <td colspan="7" class="text-center">
                    Aucune donnée disponible
                </td>
            </tr>
        {% endif %}
        {% for row in rows %}
            {% set link = path(prefix ~ '_edit', {id: row.id}) %}
            <tr>
                <td>
                    {{ row.id }}
                </td>
                <td>
                    <img class="h-8 w-8 rounded" src="{{ row|avatar }}"
                         alt="{{ row.fullname }}">
                </td>
                <td class="capitalize">
                    {{ row.fullname }}
                </td>
                <td>
                    {{ row.email }}
                </td>
                <td>
                    {{ row.createdAt|date_age }}
                </td>
                <td>
                    <span class="table-item-row">
                        {% if row.isVerified %}
                            {{ icon('badge-check', 17) }}
                            Vérifié
                        {% else %}
                            {{ icon('hourglass', 17) }}
                            Non vérifié
                        {% endif %}
                    </span>
                </td>
                <td>
                    <a href="{{ path('admin_users_edit', {id: row.id}) }}" class="btn-icon">
                        {{ icon('pencil') }}
                    </a>
                    <ajax-delete class="btn-icon"
                            target="tr"
                                 url="{{ path(prefix ~ '_delete', {id: row.id}) }}">
                        {{ icon('trash') }}
                    </ajax-delete>
                    <a href="{{ path('app_home', { '_switch_user': row.email }) }}" class="btn-icon">
                        {{ icon('joystick') }}
                    </a>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
