{% extends 'base.html.twig' %}

{% block title %}Validateur de ticket{% endblock %}

{% block body %}
    <div class="container-box py-10">
        <div class="stack mb-10 max-w-6xl mx-auto pb-12">
            {% include 'partials/flash.html.twig' with {floating: true, duration: 3} %}
            <!-- Page Title -->
            <div>
                <h1 class="text-xl font-semibold text-center text-gray-800">Validation de ticket</h1>
                <p class="text-sm text-center text-gray-500 dark:text-primary-200">Vous pouvez vérifier la validité d'un ticket ou en valider un.</p>
            </div>

            <!-- Ticket Search Form -->
            <div class="w-full max-w-md mx-auto bg-white dark:bg-dark-soft dark:border-dark-soft rounded p-4 border mt-6">
                <form action="{{ path('app_ticket_validation') }}" method="get">
                    <div class="mb-4">
                        <label for="ticketNumber" class="label">Numéro de ticket</label>
                        <input type="text" name="reference" id="ticketNumber" class="mt-1 form-input" required
                               placeholder="ex: TCK-240813-13VR">
                    </div>
                    <button type="submit" class="btn btn-primary w-full">
                        {{ icon('search', 20) }}
                        <span>Rechercher</span>
                    </button>
                </form>
            </div>

            {% if ticket %}
                <!-- Ticket Details Card -->
                <div class="w-full max-w-md mx-auto bg-white dark:bg-dark-soft shadow-lg rounded-lg overflow-hidden border-t-4 border-primary-600 mt-8">
                    <div class="p-4 md:p-6">
                        <!-- Ticket Information Header -->
                        <div class="flex items-center justify-between mb-4 flex-col md:flex-row gap-4">
                            <div class="flex items-center">
                                <img src="{{ asset('images/app-logo.svg') }}" alt="{{ app_name }}" class="h-10 w-10 rounded-full border-2 border-primary-600">
                                <h2 class="ml-2 font-medium text-xl text-primary-900">{{ app_name }}</h2>
                            </div>
                            <span class="text-sm text-gray-500">Réf: {{ ticket.ticketNumber ?? '--' }}</span>
                        </div>

                        <!-- Event Details -->
                        <div class="space-y-4">
                            <div>
                                <p class="text-sm text-gray-500 dark:text-primary-300">Événement</p>
                                <p class="text-base font-medium text-gray-800">{{ ticket.event.name ?? '--' }}</p>
                            </div>
                            <div>
                                <p class="text-sm text-gray-500 dark:text-primary-300">Lieu</p>
                                <p class="text-base font-medium text-gray-800">{{ ticket.event.location ?? '--' }}</p>
                            </div>
                            <div>
                                <p class="text-sm text-gray-500 dark:text-primary-300">Date</p>
                                <p class="text-base font-medium text-gray-800">{{ event_duration(ticket.event.startDate, ticket.event.endDate) }}</p>
                            </div>
                        </div>

                        <!-- Ticket Validation Status -->
                        <div class="mt-4">
                            {% if ticket.isValid() and not ticket.isUsed %}
                                <div class="flex justify-center">
                                    <span class="badge badge-success">Ce ticket est valide et n'a pas encore été utilisé.</span>
                                </div>
                                <form action="{{ path('app_ticket_validation', {ticketNumber: ticket.ticketNumber}) }}" method="post" class="mt-4">
                                    <button type="submit" class="btn btn-primary w-full">Valider le ticket</button>
                                </form>
                            {% elseif ticket.isUsed %}
                                <div class="flex justify-center">
                                    <span class="badge badge-warning">Ce ticket a déjà été validé.</span>
                                </div>
                            {% else %}
                                <div class="flex justify-center">
                                    <span class="badge badge-danger">Ce ticket n'est plus valide.</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Search Another Ticket Button -->
                <div class="mt-6 mx-auto">
                    <a href="{{ path('app_ticket_validation') }}" class="btn btn-light">Réinitialiser la recherche</a>
                </div>
            {% elseif app.request.query.has('reference') %}
                <!-- No Ticket Found Message -->
                <div class="flex flex-col items-center mt-8">
                    <img src="{{ asset('images/illustrations/empty-folder.svg') }}" alt="Aucun ticket trouvé" class="w-40 h-40 md:w-72 md:h-72 mb-4">
                    <div class="text-center max-w-md">
                        <h3 class="text-lg font-semibold">Aucun ticket trouvé</h3>
                        <p class="text-sm text-gray-500">Veuillez vérifier le numéro de ticket et réessayer.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
