{% extends 'base.html.twig' %}

{% block title %}Validateur de ticket {% endblock %}

{% block body %}
    <div class="container-box">
        <div class="stack flex flex-col items-center justify-center min-h-screen">
            <h1 class="h2 text-center mt-5">Validation de ticket</h1>

            <div class="mx-auto">
                {% include 'partials/flash.html.twig' %}
            </div>

            {% if ticket %}
                <section class="mx-auto w-96 rounded-3xl dark:bg-dark-soft border border-slate-200 dark:border-slate-700 flex flex-col relative bg-primary-950">
                    <div class="w-full h-full mx-auto z-10 bg-primary-900 rounded-2xl">
                        <div class="flex flex-col">
                            <div class="bg-white relative drop-shadow-2xl rounded-xl p-4 m-4">
                                <div class="flex-none sm:flex">
                                    <div class="flex-auto justify-evenly">
                                        <div class="flex items-center justify-between">
                                            <div class="flex items-center my-1">
                                                <span class="mr-3 rounded-full bg-white w-8 h-8">
                                                    <img src="{{ asset('images/app-logo.svg') }}" alt="{{ app_name }}" class="h-8 p-1">
                                                </span>
                                                <h2 class="font-medium">{{ app_name }}</h2>
                                            </div>
                                        </div>
                                        <div class="border-b border-dashed my-5"></div>
                                        <div class="flex items-center">
                                            <div class="flex flex-col">
                                                <div class="flex-auto text-xs text-gray-400 my-1">
                                                    <span class="mr-1 ">Référence</span>
                                                </div>
                                                <div class="w-full flex-none text-lg text-primary-800 font-bold leading-none">
                                                    {{ ticket.ticketNumber ?? '--' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border-b border-dashed my-5 pt-5"></div>
                                        <div class="flex items-center mb-2 text-sm">
                                            <div class="flex flex-col">
                                                <span class="text-sm text-gray-400">Évènement</span>
                                                <div class="font-semibold">
                                                    {{ ticket.event.name ?? '--' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex items-center mb-2 text-sm">
                                            <div class="flex flex-col">
                                                <span class="text-sm text-gray-400">Lieu</span>
                                                <div class="font-semibold">
                                                    {{ ticket.event.location ?? '--' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex items-center mb-4">
                                            <div class="flex flex-col text-sm">
                                                <span class="text-gray-400">Début</span>
                                                <div class="font-semibold">
                                                    {{ ticket.event.startDate|date('d/m/Y') }}
                                                </div>
                                            </div>
                                            <div class="flex flex-col text-sm ml-auto">
                                                <span class="text-gray-400">Fin</span>
                                                <div class="font-semibold">
                                                    {{ ticket.event.endDate|date('d/m/Y') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border-b border-dashed my-5 pt-5"></div>
                                        <div class="flex flex-col py-5 justify-center items-center text-sm">
                                            {% if ticket.isValid() and not ticket.isUsed %}
                                                <p class="text-green-500">Ce ticket est valide et n'a pas encore été utilisé.</p>
                                                <form action="{{ path('app_ticket_validation', {ticketNumber: ticket.ticketNumber}) }}" method="post">
                                                    <button type="submit" class="btn-primary mt-4">Valider le ticket</button>
                                                </form>
                                            {% elseif ticket.isUsed %}
                                                <p class="text-red-500">Ce ticket a déjà été validé.</p>
                                            {% else %}
                                                <p class="text-red-500">Ce ticket n'est plus valide.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="mx-auto max-w-96 mt-4">
                    <a href="{{ path('app_ticket_validation') }}" class="btn-primary mt-4">Rechercher un autre ticket</a>
                </div>
            {% else %}
                <div class="mx-auto max-w-96 mb-3 border p-4">
                    <form action="{{ path('app_ticket_validation') }}" method="get">
                        <label for="ticketNumber" class="block text-sm font-medium text-gray-700">Rechercher par numéro de ticket :</label>
                        <input type="text" name="reference" id="ticketNumber" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required value="{{ ticket ? ticket.ticketNumber : '' }}">
                        <button type="submit" class="btn-primary mt-4">Rechercher</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
