{% extends 'layouts/public/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-box">
        <div class="relative isolate px-6 pt-14 lg:px-8">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
                <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-primary-900 to-primary-200 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <div class="mx-auto max-w-2xl py-14 sm:py-16 lg:py-20">
                <div class="text-center">
                    <h1 class="text-3xl font-bold tracking-tight text-zinc-900 sm:text-4xl">Gérez vos événements avec simplicité</h1>
                    <p class="mt-6 text-lg leading-8 text-zinc-600">TicketLy facilite la gestion de vos événements et optimise la vente de tickets. Simplifiez les inscriptions et augmentez vos ventes grâce à nos outils intuitifs.</p>
                    <div class="mt-10 flex items-center justify-center gap-x-6">
                        <a href="#" class="btn btn-md btn-primary">Commencez maintenant</a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
                <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-blue-100 to-blue-300 opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
        </div>

        <div class="bg-zinc-50 dark:bg-zinc-950/90 py-10 -mx-6 sm:-mx-8 lg:-mx-10 px-6 sm:px-8 lg:px-10">
            <div class="max-w-4xl mx-auto">
                <h1 class="text-2xl font-semibold mt-5 text-center">Événements à venir</h1>

                {% if eventsToCome is empty %}
                    <div class="mt-6 text-center text-zinc-600 dark:text-zinc-400">
                        <p class="text-lg">Aucun événement à venir pour le moment.</p>
                        <p class="mt-2">Revenez plus tard pour découvrir les prochains événements, ou explorez d'autres sections de notre site !</p>
                        <div class="mt-4">
                            <a href="#" class="btn btn-md btn-outline">Voir les autres événements</a>
                        </div>
                    </div>
                {% else %}
                    {% for event in eventsToCome %}
                        {% set reverse = loop.index is odd %}
                        <div class="flex flex-col justify-center items-center gap-y-6 mt-6 sm:mt-8 border border-zinc-200 dark:border-zinc-900/50 bg-white dark:bg-zinc-900/90">
                            <div class="grid grid-cols-1 md:grid-cols-2">
                                {% if reverse %}
                                    <img src="{{ event|event_image('imageFile') }}"
                                         class="w-full max-h-[20rem] object-cover object-center md:order-none order-1"
                                         alt="{{ event.name }}">
                                    <div class="flex flex-col justify-center items-center gap-y-4 p-10 bg-white dark:bg-zinc-800/90 text-center md:order-none order-2">
                                        <p class="text-base text-zinc-600 dark:text-zinc-400">{{ event_duration(event.startDate, event.endDate) }}</p>
                                        <h2 class="text-xl font-semibold text-zinc-900 dark:text-zinc-50">{{ event.name }}</h2>
                                        <p class="hidden md:block text-sm text-zinc-600 dark:text-zinc-400">{{ event.description|length > 300 ? event.description|slice(0, 300) ~ '...' : event.description }}</p>
                                        <div class="flex items-center justify-center gap-x-4">
                                            <a href="{{ path('app_event_show', {slug: event.slug}) }}" class="btn btn-md btn-primary">Acheter des billets</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="flex flex-col justify-center items-center gap-y-4 p-10 bg-white dark:bg-zinc-800/90 text-center md:order-none order-2">
                                        <p class="text-base text-zinc-600 dark:text-zinc-400">{{ event.startDate|format_datetime('full', 'none', locale='fr') }}</p>
                                        <h2 class="text-xl font-semibold text-zinc-900 dark:text-zinc-50">{{ event.name }}</h2>
                                        <p class="hidden md:block text-sm text-zinc-600 dark:text-zinc-400">{{ event.description|length > 300 ? event.description|slice(0, 300) ~ '...' : event.description }}</p>
                                        <div class="flex items-center justify-center gap-x-4">
                                            <a href="{{ path('app_event_show', {slug: event.slug}) }}" class="btn btn-md btn-primary">Acheter des billets</a>
                                        </div>
                                    </div>
                                    <img src="{{ event|event_image('imageFile') }}"
                                         class="w-full max-h-[20rem] object-cover object-center md:order-none order-1"
                                         alt="{{ event.name }}">
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
