{% extends 'pages/public/account/_layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block account_content %}
<div class="stack">
    <div>
        {{ form_start(formProfile) }}
        <div class="w-full mx-auto bg-white rounded border border-gray-200 dark:bg-primary-900 dark:border-primary-800 pb-6 overflow-hidden mb-8">

            <!-- Bannière -->
            <div class="bg-gradient-to-r from-pink-200 to-pink-200/80
            dark:from-violet-800 dark:to-violet-800/80
            w-full h-24 relative mb-16">
                <img src="{{ app.user|avatar }}" alt="Avatar de {{ app.user.fullname }}" id="avatar-preview"
                     class="absolute -bottom-14 left-1/2 transform -translate-x-1/2 md:left-6 md:translate-x-0 bg-white w-28 h-28 rounded-full object-cover border-none p-1">
            </div>

            <!-- Informations utilisateur -->
            <div class="flex flex-col justify-center items-center md:justify-start md:items-start px-6">
                <h1 class="text-2xl font-semibold">{{ app.user.fullname }}</h1>
                <p class="text-sm text-gray-500 dark:text-gray-500">Inscrit <span class="lowercase">{{ app.user.createdAt|ago }}</span></p>
                {% if not app.user.verified %}
                    <div class="flex items-center gap-1 bg-red-100 px-2 py-1 mt-1 rounded text-sm text-red-500 dark:text-red-400">
                        {{ icon('lock-keyhole', 16) }}
                        <span>Compte bloqué</span>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="grid sm:grid-cols-6 gap-x-6 gap-y-4 mb-4">
            <!-- Fullname -->
            <div class="md:col-span-full border-b border-gray-900/10 pb-6">
                <div class="grid sm:grid-cols-6 gap-x-6 gap-y-4">
                    <div class="col-span-2">
                        <label for="{{ formProfile.fullname.vars.id }}" class="h5">Identité</label>
                    </div>
                    <div class="col-span-4">
                        <div class="grid sm:grid-cols-6 gap-x-6 gap-y-4">
                            <div class="col-span-3">
                                {{ form_row(formProfile.fullname) }}
                            </div>
                            <div class="col-span-3">
                                {{ form_row(formProfile.avatarFile) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Enregistrer les modifications</button>
                    </div>

                </div>
            </div>
        </div>
        {{ form_end(formProfile) }}

        <div class="grid sm:grid-cols-6 gap-x-6 gap-y-4">
            <!-- Email -->
            <div class="md:col-span-full border-b border-gray-900/10 pb-6">
                <div class="grid sm:grid-cols-6 gap-x-6 gap-y-4">
                    <div class="col-span-2">
                        <label for="{{ formEmail.email.vars.id }}" class="h5">Coordonnées</label>
                    </div>
                    <div class="col-span-4">
                    {% if requestEmailChange %}
                        <div class="alert alert-warning mb-2">
                            <p class="text-sm">Vous avez récemment demandé à changer votre adresse email. Veuillez confirmer le changement en cliquant sur le lien envoyé par email.</p>
                        </div>
                    {% else %}
                    {{ form_start(formEmail) }}
                        <div class="flex flex-col lg:flex-row gap-1 mb-2">
                            <p class="text-sm text-slate-500">Adresse email actuelle : </p>
                            <p class="text-sm text-slate-900 font-semibold">{{ app.user.email }}</p>
                        </div>

                        {{ form_row(formEmail.email) }}
                        <button type="submit" class="btn btn-light mt-2">Changer mon email</button>
                    {{ form_end(formEmail) }}
                    {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        <!-- Preview avatar image -->
        document.addEventListener('DOMContentLoaded', function () {
            const avatarInput = document.getElementById('user_update_form_avatarFile');

            if (!avatarInput) {
                return;
            }

            avatarInput.addEventListener('change', function(event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        const imgElement = document.getElementById('avatar-preview');
                        imgElement.src = e.target.result;
                    }
                    reader.readAsDataURL(file);
                }
            });

        });
    </script>
{% endblock %}

