<article class="formation {% if formation.isScheduled %}is__scheduled{% endif %} {% if formation.premium %}formation__premium{% endif %}">
    <div class="formation__body stack">
        <div class="formation__icons">
            {% for technology in formation.mainTechnologies %}
                <a href="" class="formation__icon" tabindex="-1" title="Tous les tutoriels {{ technology.name }}">
                    <img src="{{ uploads_path('icons/' ~ technology.image) }}" alt="{{ technology.name }}">
                </a>
            {% endfor %}
        </div>
        <h2 class="formation__title">
            <a href="{{ path('app_formation_show', {slug: formation.slug}) }}"
               class="formation__link">
                {{ formation.title }}
            </a>
        </h2>
        <div class="formation__description">
            <p>
                {% if formation.short %}
                    {{ formation.short | truncate(130) | raw }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="content__progress"><span></span></div>
    <footer class="formation__footer">
        <div class="flex items-center gap-1">
            {{ icon('library-big') }}
            {{ formation.courses | length }} Chapitres
        </div>
        <div class="flex items-center gap-1">
            {{ icon('clock') }}
            {{ formation.duration | duration }}
        </div>
    </footer>
</article>