{% extends 'base.html.twig' %}

{% block title "Formation " ~ formation.title %}

{% block body %}
    {% set first_course = formation.firstContent %}

    <header class="bg-slate-50 dark:bg-dark-soft ">
        <div class="formation__header container-box">
            <div>
                {{ breadcrumb(formation) }}
                <div class="formation__header__body stack">
                    <h1 class="formation__header__title">{{ formation.title }}</h1>
                    {% if formation.short %}
                        <p>{{ formation.short }}</p>
                    {% else %}
                        {{ formation.content | raw }}
                    {% endif %}
                    {% if progress %}
                        <div class="formation-progress my-3">
                            <div class="formation-progress__label">Ma progression</div>
                            <div class="formation-progress__count">
                                Chapitre {{ (progress.ratio * (formation.courses | length)) | round(0, 'floor') }}
                                / {{ formation.courses | length }}</div>
                            <div class="formation-progress__bar" style="--progress: {{ progress.ratio * 100 }}%"></div>
                        </div>
                        <p>
                            <a href="{{ path('app_formation_resume', {slug: formation.slug}) }}#autoplay"
                               class="btn-primary">{{ icon('play') }} Continuer</a>
                        </p>
                    {% elseif formation.firstContent %}
                        <p>
                            <a href="{{ path('app_course_show', {slug: first_course.slug}) }}#autoplay"
                               class="btn-primary">{{ icon('play') }}
                                Commencer</a>
                        </p>
                    {% endif %}
                </div>
            </div>
            {% if formation.mainTechnologies is not empty %}
                <div class="formation__header__image">
                    <img src="{{ uploads_path('icons/' ~ formation.mainTechnologies[0].image) }}" alt="">
                </div>
            {% endif %}
        </div>
    </header>

    <main class="formation__information container-box mt-8 mb-10">
        <div class="formation__chapters order-2 md:order-1">
            <h2 class="h2 mb-3">Chapitres</h2>
            {% include 'chapters/_summary.html.twig' with {chapters: formation.chapters, class: 'chapters__split'} only %}
        </div>
        <div class="formation__summary order-1 md:order-2">
            <h2 class="h2 mb-3">Présentation</h2>
            <div class="formation__summary__content">
                {{ formation.content | raw }}
            </div>

            <div class="mt-4 text-slate-400">
                {{ formation.publishedAt | ago }}
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('admin_formation_edit', {id: formation.id}) }}" target="_blank"
               class="btn-light mt-4">
                {{ icon('pencil') }}
                Editer
            </a>
            {% endif %}
        </div>
    </main>
{% endblock %}