{% extends 'layouts/public/base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container-box">
        <div class="stack mt-5 mb-10 mx-auto pb-12 border-b border-gray-900/10">
            <div class="flex justify-between mb-6 flex-col md:flex-row items-start md:items-center gap-4">
                <div>
                    <h2 class="text-base font-semibold">Mes réservations</h2>
                    {% if reservations is not empty %}
                        <p class="text-sm text-zinc-500">Vous avez {{ reservations|length }} réservation(s)</p>
                    {% endif %}
                </div>
                {% if reservations is not empty %}
                    <a href="{{ path('app_my_reservation_search') }}" class="btn btn-primary flex items-center gap-2">
                        {{ icon('calendar-plus', 20) }}
                        <span>Ajouter une réservation</span>
                    </a>
                {% endif %}
            </div>

            {% if reservations is empty %}
                <!-- Afficher un message lorsque aucune réservation n'est disponible -->
                <div class="flex justify-center items-center flex-col">
                    <img src="{{ asset('images/illustrations/empty-folder.svg') }}" alt="Aucune réservation" class="w-40 h-40 md:w-72 md:h-72 mb-4">
                    <div class="text-center max-w-md">
                        <h3 class="text-lg font-semibold">C'est vide ici</h3>
                        <p class="text-sm text-zinc-500">Vous ne participez à aucun événement pour le moment</p>
                    </div>
                    <div class="flex justify-center items-center mt-6 gap-4 flex-col md:flex-row">
                        <a href="{{ path('app_home') }}" class="btn btn-primary flex items-center gap-2">
                            {{ icon('calendar-days', 20) }}
                            <span>Nos événements</span>
                        </a>
                        <a href="{{ path('app_my_reservation_search') }}" class="btn btn-outline flex items-center gap-2">
                            {{ icon('calendar-plus', 20) }}
                            <span>Ajouter ma réservation</span>
                        </a>
                    </div>
                </div>
            {% else %}
                <!-- Liste des réservations -->
                <div>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                        {% for reservation in reservations %}
                            <div class="p-4 bg-white dark:bg-slate-900 shadow-md rounded-lg flex flex-col justify-between">
                                <div class="mb-4">
                                    <h4 class="text-md font-semibold mb-1">{{ reservation.event.name }}</h4>
                                    <p class="text-sm text-zinc-500">Réservé le {{ reservation.createdAt|date('d/m/Y à H:i') }}</p>
                                </div>
                                <div class="flex justify-between items-center">
                                    <a href="{{ path('app_event_reservation_show', {reservationNumber: reservation.reservationNumber}) }}" class="btn btn-light flex items-center gap-2">
                                        {{ icon('eye', 20) }}
                                        <span>Voir détails</span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

        {% if suggestedEvents is not empty %}
        <div class="stack mt-5 mb-10 max-w-6xl mx-auto pb-12 border-b border-gray-900/10">
            <!-- Section des événements suggérés -->
                <div class="">
                    <h3 class="text-base text-primary-700 font-semibold mb-4">Et si vous participiez à ces événements ?</h3>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                        {% for event in suggestedEvents %}
                            <div class="relative">
                                <div class="bg-white shadow-md rounded-lg overflow-hidden">
                                    <img src="{{ event|event_image('imageFile') }}" alt="{{ event.name }}" class="w-full h-48 object-cover object-center">
                                    <div class="p-4">
                                        <h4 class="text-md font-semibold mb-1">{{ event.name }}</h4>
                                        <p class="text-sm text-zinc-500">{{ event.startDate|format_datetime('full', 'none', locale='fr') }}</p>
                                        <p class="text-sm text-zinc-500">{{ event.location }}</p>
                                        <div class="flex justify-between items-center mt-4">
                                            <a href="{{ path('app_event_show', {slug: event.slug}) }}" class="btn btn-primary">Voir détails</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
        {% endif %}
    </div>

{% endblock %}
