{% extends 'base.html.twig' %}

{% block title %}
    Gérer votre rendez-vous
{% endblock %}

{% block body %}
    <div class="max-w-7xl mx-auto">
        <div class="px-4 sm:px-0">
            <h3 class="text-xl font-bold leading-7 text-gray-900">Votre rendez-vous</h3>
            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
                Retrouvez toutes les informations concernant votre rendez-vous.
            </p>
        </div>
        <div class="mt-6 border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Nom</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ appointment.client.fullname }}</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Prestation</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ appointment.prestation.name }}</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Date et heure</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ appointment.date|date('d/m/Y') }}
                        à {{ appointment.time|date('H:i') }}
                    </dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Tarif</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        {{ appointment.amount }} €
                    </dd>
                </div>
                {% if appointment.statusConfirmed %}
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">A savoir</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            Voici quelques informations à savoir avant votre rendez-vous.
                            <ul class="list-disc pl-5">
                                <li>Les enfants sont interdits</li>
                                <li>1 seul accompagnant est autorisé</li>
                                <li>Le paiement se fait en espèce ou via le site, aucun autre moyen de paiement n'est
                                    accepté
                                </li>
                            </ul>
                        </dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Actions</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-400 mb-5">
                                En payant maintenant, votre place sera réservée.
                            </p>
                            <ul class="flex gap-4 flex-col sm:flex-row">
                                {% if not appointment.paid %}
                                    <a href="{{ path('app_appointment_payment_start', {'id': appointment.id}) }}"
                                       class=" btn-md btn-primary">
                                        {{ icon('credit-card') }}
                                        <span>Payer</span>
                                    </a>
                                {% else %}
                                    <div class="border border-primary-500 text-primary-500 py-2 rounded-md h-11 px-5 text-base inline-flex items-center justify-center whitespace-nowrap shadow-sm space-x-2">
                                        {{ icon('check-circle') }}
                                        <span>Paiement effectué</span>
                                    </div>
                                {% endif %}
                                {% if appointment.date|date('Y-m-d') >= 'now'|date('Y-m-d') %}
                                    {% if appointment.time|date('H:i') >= 'now'|date('H:i') %}
                                        <a href="{{ path('app_appointment_manage_edit', {'token': appointment.token}) }}"
                                           class="btn-md btn-outline-primary">
                                            {{ icon('calendar-days') }}
                                            <span>Modifier</span>
                                        </a>
                                        <a href="" class="btn-md btn-secondary">
                                            {{ icon('calendar-x-2') }}
                                            <span>Annuler</span>
                                        </a>
                                    {% else %}
                                        <div class="border border-primary-500 text-primary-500 py-2 rounded-md h-11 px-5 text-base inline-flex items-center justify-center whitespace-nowrap shadow-sm space-x-2">
                                            Rendez-vous terminé
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Facture</dt>
                        <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                            <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                                <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                    <div class="flex w-0 flex-1 items-center">
                                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20"
                                             fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                        <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                            <span class="truncate font-medium">resume_back_end_developer.pdf</span>
                                            <span class="flex-shrink-0 text-gray-400">2.4mb</span>
                                        </div>
                                    </div>
                                    <div class="ml-4 flex-shrink-0">
                                        <a href="#"
                                           class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                                    </div>
                                </li>
                                <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                    <div class="flex w-0 flex-1 items-center">
                                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20"
                                             fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                        <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                            <span class="truncate font-medium">coverletter_back_end_developer.pdf</span>
                                            <span class="flex-shrink-0 text-gray-400">4.5mb</span>
                                        </div>
                                    </div>
                                    <div class="ml-4 flex-shrink-0">
                                        <a href="#"
                                           class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                                    </div>
                                </li>
                            </ul>
                        </dd>
                    </div>
                {% endif %}
                {% if appointment.statusPending %}
                    {% if appointment.date|date('Y-m-d') > 'now'|date('Y-m-d') %}
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900">Informations</dt>
                            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                                <div class="alert alert-info">
                                    Votre rendez-vous est en attente de confirmation. Vous recevrez un email dès que
                                    votre
                                    rendez-vous sera confirmé.
                                </div>
                            </dd>
                        </div>
                    {% else %}
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900">Informations</dt>
                            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                                <div class="alert alert-warning">
                                    Votre rendez-vous n'a pas été confirmé. Il est donc annulé.
                                </div>
                            </dd>
                        </div>
                    {% endif %}

                {% endif %}
                {% if appointment.statusCanceled %}
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Informations</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <div class="alert alert-warning">
                                Ce rendez-vous a été annulé. Il n'est plus accessible malheureusement.
                            </div>
                        </dd>
                    </div>
                {% endif %}
            </dl>
        </div>
    </div>

{% endblock %}

