{{ form_start(form) }}

<div class="stack-large">
    <div class=" stack">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.isActive) }}
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-md btn-primary">
            {{ icon('save') }}
            <span>
            {{ button_label|default('Enregistrer') }}
        </span>
        </button>
    </div>
</div>
{{ form_end(form) }}
