{% extends 'layouts/auth/auth_base.html.twig' %}

{% block title 'Connexion' %}

{% block auth_content %}
    <form action="#" method="post" class="reveal">
        <div class="w-full max-w-md grid grid-cols-3 gap-3">
            <div class="col-span-full mb-4 flex justify-center">
                <a href="{{ path('app_home') }}" class="block animate-fade-in-left font-hanken-grotesk text-3xl text-gray-800 dark:text-gray-100 font-medium leading-tight tracking-tight">
                    <img src="{{ asset('images/logo.png') }}" alt="{{ app_name }}" class="h-16">
                </a>
            </div>

            <div class="col-span-full">
                <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-2 reveal">Heureux de vous revoir</h2>
                <p class="text-gray-400 dark:text-gray-400 reveal" data-delay=".1">
                    Connectez-vous pour accéder à votre compte. Ne manquez plus aucun événement.
                </p>
            </div>

            <!-- Display flash messages -->
            <div class="col-span-full">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {% if error %}
                    <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="col-span-full">
                    {{ include('partials/flash.html.twig') }}
                </div>
            </div>

            <div class="col-span-full">
                <label for="email" class="label">E-mail</label>
                <input type="email" name="email" id="email" class="form-input" value="{{ last_username }}" required>
            </div>

            <div class="col-span-full">
                <label for="password" class="label">Mot de passe</label>
                <div class="relative">
                    <input type="password" name="password" id="password" class="form-input" autocomplete="current-password" required>
                    <div class="password-toggle">
                        <button type="button" class="password-toggle-button" aria-label="Toggle password visibility">
                            <span class="icon-eye">{{ icon('eye', 16) }}</span>
                            <span class="icon-eye-off hidden">{{ icon('eye-off', 16) }}</span>
                        </button>
                    </div>
                </div>
                <p class="mt-2">
                    <a href="{{ path('app_forgot_password') }}{% if last_username %}?email={{ last_username }}{% endif %}" class="link text-slate-900 text-sm">Vous avez oublié votre mot de passe ?</a>
                </p>
            </div>

            <div class="col-span-full">
                <label for="remember_me" class="flex items-center">
                    <input type="checkbox" name="remember_me" id="remember_me" class="form-checkbox">
                    <span class="ml-2 label">Se souvenir de moi</span>
                </label>
            </div>

            <div class="col-span-full mt-4">
                <button type="submit" class="btn btn-md btn-primary w-full">Se connecter</button>
            </div>
        </div>

        <div class="border border-gray-100 dark:border-gray-700 my-6"></div>

        <p class="text-sm text-center text-gray-500 dark:text-gray-400">Vous n'avez pas de compte ?</p>

        <a href="{{ path('app_register') }}" class="btn btn-outline w-full mt-4">Créer un compte</a>
    </form>
{% endblock %}