{% extends 'layouts/auth/auth_base.html.twig' %}

{% block title 'Modifier votre mot de passe' %}

{% block auth_content %}
    {{ form_start(form, { 'attr': {'class': 'reveal'} }) }}
    <div class="w-full max-w-md grid grid-cols-3 gap-3">
        <!-- Logo de l'application -->
        <div class="col-span-full mb-4 flex justify-center">
            <a href="{{ path('app_home') }}" class="block animate-fade-in-left font-hanken-grotesk text-3xl text-gray-800 dark:text-gray-100 font-medium leading-tight tracking-tight">
                <img src="{{ asset('images/logo.png') }}" alt="{{ app_name }}" class="h-16">
            </a>
        </div>

        <!-- Titre et message -->
        <div class="col-span-full">
            <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-2">Modifier votre mot de passe</h2>
            <p class="text-gray-400 dark:text-gray-400">
                <span class="text-blue-900 text-xl font-medium">{{ user.fullname }}</span>, content de vous revoir !<br>
                Veuillez saisir votre nouveau mot de passe pour continuer.
            </p>
        </div>

        <!-- Flash message -->
        <div class="col-span-full">
            {{ include('partials/flash.html.twig') }}
        </div>

        <!-- Champ du premier mot de passe avec le Custom Element -->
        <div class="col-span-full">
            <div class="flex flex-col gap-1">
                {{ form_label(form.password.first) }}
                <div class="relative">
                    {{ form_widget(form.password.first) }}
                    <div class="password-toggle">
                        <button type="button" class="password-toggle-button" aria-label="Toggle password visibility">
                            <span class="password-toggle-icon">
                                <span class="icon-eye">{{ icon('eye', 16) }}</span>
                                <span class="icon-eye-off hidden">{{ icon('eye-off', 16) }}</span>
                            </span>
                        </button>
                    </div>
                </div>
                <password-verifier password-input-id="change_password_form_password_first"></password-verifier>
                <div class="form-error">
                    {{ form_errors(form.password.first) }}
                </div>
            </div>
        </div>

        <!-- Champ du second mot de passe avec le Custom Element -->
        <div class="col-span-full">
            <div class="flex flex-col gap-1">
                {{ form_label(form.password.second) }}
                <div class="relative">
                    {{ form_widget(form.password.second) }}
                    <div class="password-toggle">
                        <button type="button" class="password-toggle-button" aria-label="Toggle password visibility">
                            <span class="password-toggle-icon">
                                <span class="icon-eye">{{ icon('eye', 16) }}</span>
                                <span class="icon-eye-off hidden">{{ icon('eye-off', 16) }}</span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="form-error">
                    {{ form_errors(form.password.second) }}
                </div>
            </div>
        </div>

        <!-- Bouton de soumission -->
        <div class="col-span-full mt-4">
            <button type="submit" class="btn btn-md btn-primary w-full">Modifier mon mot de passe</button>
        </div>
    </div>

    <div class="border border-gray-100 dark:border-gray-700 my-6"></div>

    <!-- Lien vers la connexion -->
    <div class="flex items-center justify-center w-full">
        <a href="{{ path('app_login') }}" class="flex items-center text-sm font-medium text-primary-600 dark:text-primary-500">
            {{ icon('move-left') }}
            <span class="ml-2">Retour à la connexion</span>
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
