<!DOCTYPE html>
<html lang="fr" class="{{ body_theme() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="cVdQDiwamc06x0st9JWYRu-lqokoHUiT2rXI8yE03Vs"/>
    <title>{% block title 'Index' %} - {{ app_name }}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('favicons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('favicons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('favicons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('favicons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('favicons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('favicons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('favicons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('favicons/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('favicons/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <!-- jquery-->
    <script src="{{ asset('js/jquery-3.6.3.min.js') }}"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <script src="{{ asset('js/jquery-3.6.3.min.js') }}"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C6256L57R5"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C6256L57R5');
</script>

<body>

    <div class="page-wrapper">
        {% include 'layouts/blocs/_header.html.twig' %}

        {% block body %}{% endblock %}

        <footer class="footer container-box">
            <div class="footer__bio col-span-full md:col-span-2">
                <div class="footer__title">A propos</div>
                <p class="text-muted">
                    Nous sommes ....
                </p>
                <ul class="list-unstyled flex gap-2 mt-3">
                    <li>
                        <a href="" class="text-muted" target="_blank">
                            {{ icon('youtube') }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-span-full md:col-span-1">
                <div class="footer__title mt-6 md:mt-0">Nous contacter</div>
                <p class="text-muted">
                    Vous avez une question, une suggestion ou une demande ? N'hésitez pas à nous contacter
                    sur les réseaux sociaux, par mail ou via le formulaire de contact.
                </p>
                <ul class="list-unstyled flex gap-2 mt-3">
                    <li>
                        <a href="{{ path('app_contact') }}" class="text-muted">
                            {{ icon('send') }}
                        </a>
                    </li>
                    <li>
                        <a href="" class="text-muted" target="_blank">
                            {{ icon('mail') }}
                        </a>
                    </li>
                    <li>
                        <a href="" class="text-muted" target="_blank">
                            {{ icon('instagram') }}
                        </a>
                    </li>
                </ul>
                <div class="footer__title mt-6">Thème</div>
                <theme-switcher></theme-switcher>
            </div>
        </footer>
    </div>

    <scroll-top class="scroll-top" hidden="hidden">
        {{ icon('chevron-up') }}
    </scroll-top>

{% block javascripts__footer %}{% endblock %}
</body>