{{ form_start(form, {attr: {class: 'stacked'}}) }}

<section class="stack-large">

    <section class="stack">
        <h1 class="h3">
            Informations générales
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {{ form_row(form.name) }}
            {{ form_row(form.slug) }}
            {{ form_row(form.requirements) }}

            {{ form_row(form.imageFile) }}
        </div>

        <div class="flex items-center">
            {% if entity.image %}
                <img src="{{ vich_uploader_asset(entity, 'imageFile') }}" alt="{{ entity.slug }}-logo" class="w-24 h-auto">
            {% endif %}
        </div>

        <div class="w-full">
            <h2 class="label mb-2">Description</h2>
            {{ form_row(form.content, {label: false}) }}
        </div>
    </section>

    <section>
        <button type="submit" class="btn-md btn-primary">Sauvegarder</button>
    </section>

</section>

{{ form_end(form) }}