{% extends 'admin/base.html.twig' %}

{% block title %}
    Gestion des technologies
{% endblock %}


{% block body %}

    <div class="dashboard-page-header">
        <nav class="breadcrumb" aria-label="Breadcrumb">
            <ol>
                <li>
                    <a href="{{ path('admin_home') }}">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor" viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"></path>
                        </svg>
                        Accueil
                    </a>
                </li>
                {{ icon('chevron-right') }}
                <li>
                    <span>Technologie</span>
                </li>
            </ol>
        </nav>
    </div>

    <div class="dashboard-page-table-button">
        <a href="{{ path(prefix ~ '_new') }}">
            {{ icon('plus') }}
            Ajouter
        </a>
    </div>

    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>
                    {{ sort_by(rows, 'ID', 'row.id') }}
                </th>
                <th>
                    {{ sort_by(rows, 'Nom', 'row.name') }}
                </th>
                <th>
                    {{ sort_by(rows, 'Nombre de tutos', 'count') }}
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                {% set count = row['count'] %}
                {% set row = row[0] %}
                {% set link = path(prefix ~ '_edit', {id: row.id}) %}
                <tr>
                    <td>
                        {{ row.id }}
                    </td>
                    <td>
                        {% if row.image %}
                            <div class="inline-flex items-center">
                                <img src="{{ vich_uploader_asset(row, 'imageFile') }}" alt="" style="width: 30px; margin-right: 8px;" >
                                {{ row.name }}
                            </div>
                        {% else %}
                            {{ row.name }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('admin_course_index', {technology: row.slug}) }}">
                            {{ count }}
                        </a>
                    </td>
                    <td class="text-end">
                        <a href="{{ link }}" class="btn-icon">{{ icon('pencil') }}</a>
                        {% if count  == 0 %}
                            <ajax-delete class="btn-icon"
                                         target="tr"
                                         url="{{ path(prefix ~ '_delete', {id: row.id}) }}">
                                {{ icon('trash') }}
                            </ajax-delete>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ paginate(rows) }}
{% endblock %}