{% extends 'base.html.twig' %}

{% set user_premium = app.user %}

{% block title %}
{% if course.formation %}
    {{- course.title ~ " — Formation " ~ course.formation.title -}}
{% else %}
    {{- "Tutoriel vidéo " ~ course.mainTechnologies|map(t => "#{t.name}")|join(' & ') ~ ' : ' ~ course.title -}}
{% endif %}
{% endblock %}


{% block body %}
    <div class="bg-slate-50 dark:bg-dark-soft">
        <div class="container-box">
            {{ breadcrumb(course) }}
        </div>

        <h1 class="container-box mt-3 mb-3 h1">
          <span class="hidden">
            {%- if course.formation %}
                {{- "Formation " ~ course.formation.title ~ ' : ' -}}
            {% else %}
                {{- "Tutoriel " ~ course.mainTechnologies|map(t => "#{t.name}")|join(' & ') ~ ' : ' -}}
            {% endif -%}
          </span>
            {{- course.title }}
        </h1>

        <div class="container-box mt-4 mb-20 {{ course.formation ? 'is-chapter' : '' }}">
            {% if course.scheduled and not user_premium %}
                <div class="course-countdown" style="background-image: url({{ image_url_raw(course.image) }})">
                    <div class="course-countdown-content">
                        <em>Disponible dans</em>
                        <span class="course-countdown_timer mb-2">{{ course.publishedAt | countdown }}</span>
                        <a href="{{ path('app_login') }}" class="btn-primary">{{ icon('crown') }} Devenez premium</a>
                    </div>
                </div>
            {% elseif course.premium and not user_premium %}
                <div class="course-countdown" style="background-image: url({{ image_url_raw(course.image) }})">
                    <div class="absolute flex flex-col w-full h-full justify-center items-center z-50">
                        <a href="{{ path('app_login') }}" class="btn-primary">{{ icon('crown') }} Devenez premium</a>
                        <p class="text-white text-lg mt-3 text-center">Contenu destiné aux membres premiums</p>
                    </div>
                </div>
            {% elseif (course.scheduled or course.premium) and user_premium %}
                <progress-tracker contentId="{{ course.id }}" data-history="{{ course.id }}" duration="{{ course.duration }}">
                    <youtube-player
                            class="course__player"
                            id="course-{{ course.id }}"
                            video="{{ course.youtubeId }}"
                            poster="{{ image_url(course.image, 1330, 750) }}"
                            button="#chapter{{ course.id }} play-button"
                            duration="{{ course.duration | duration }}"
                            class="shadow">
                        <a href="https://www.youtube.com/watch?v={{ course.youtubeId }}" target="_blank" rel="noopener" class="course__placeholder">
                            <span>Voir la vidéo</span>
                            <img src="{{ image_url(course.image, 1330, 750) }}" width="1330" height="750"/>
                        </a>
                    </youtube-player>
                </progress-tracker>
            {% else %}
                <progress-tracker contentId="{{ course.id }}" data-history="{{ course.id }}" duration="{{ course.duration }}">
                    <youtube-player
                            class="course__player"
                            id="course-{{ course.id }}"
                            video="{{ course.youtubeId }}"
                            poster="{{ image_url(course.image, 1330, 750) }}"
                            button="#chapter{{ course.id }} play-button"
                            duration="{{ course.duration | duration }}"
                            class="shadow">
                        <a href="https://www.youtube.com/watch?v={{ course.youtubeId }}" target="_blank" rel="noopener" class="course__placeholder">
                            <span>Voir la vidéo</span>
                            <img src="{{ image_url(course.image, 1330, 750) }}" width="1330" height="750"/>
                        </a>
                    </youtube-player>
                </progress-tracker>
            {% endif %}
            {% if course.formation %}
                <div class="relative card">
                    <button class="chapters-toggle">
                        {{ icon('arrow-down') }}
                    </button>
                    <div class="absolute top-0 left-0 w-full h-full overflow-auto bg-white dark:bg-dark-soft-2" is="auto-scroll" data-to="{{ current is defined ? current : "#chapter" ~ course.id }}">
                        {% include 'chapters/_summary.html.twig' with {chapters: course.formation.chapters} only %}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="course-page container-box">

            {% if course.formation %}
                <nav-tabs class="course-tabs bg-light">
                    <a href="#description" aria-controls="content"  aria-selected="true">
                        {{ icon('file-text') }}
                        Description
                    </a>
                    <a href="#sommaire" aria-controls="sommaire" >
                        {{ icon('list-ordered') }}
                        Sommaire
                    </a>
                </nav-tabs>
            {% endif %}

            <div class="container-box py-5 mb-16" id="description">

                <div class="course-details">
                    <div class="stack">
                        <div class="h2" aria-hidden="true">À propos de ce tutoriel</div>
                        <div>
                            {{ course.content }}
                        </div>
                    </div>
                    <div>
                        <div class="stack-large">
                            <div class="text-right">
                                <small class="text-muted text-base">
                                    {% if course.isScheduled %}
                                        Disponible dans {{ course.publishedAt | countdown }}
                                    {% else %}
                                        Publié <span class="lowercase">{{ course.publishedAt | ago }}</span>
                                    {% endif %}
                                </small>
                            </div>
                            <div>
                                <div class="h4 mb-4">Technologies utilisées</div>
                                <div class="flex flex-wrap gap-1 border-t py-2 border-b border-slate-200 dark:border-slate-600">
                                    {% for technology in course.mainTechnologies %}
                                        <a class="flex items-center gap-2"
                                           href="{{ path('app_technology_show', {slug: technology.slug}) }}">
                                            {{ technology.name }}
                                            {% if technology.version %}
                                                <span class="badge badge-primary">{{ technology.version }}</span>
                                            {% endif %}
                                        </a>
                                        {% if not loop.last %}
                                            <span class="text-muted">•</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div>
                                <div class="flex">
                                    <img class="course__author__avatar" src="{{ course.author | avatar }}" alt="{{ course.author.fullname }}">
                                    <div class="course__author__info">
                                        <strong class="font-bold">Auteur : </strong><br>
                                        <span title="{{ course.author.fullname }}" class="course__author__name">{{ course.author.fullname }}</span>
                                    </div>
                                </div>
                            </div>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div>
                                    <a href="{{ path('admin_course_edit', {id: course.id}) }}" class="btn-light" target="_blank">
                                        {{ icon('pencil') }} Editer
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% if course.formation %}
                <div class="container-box" id="sommaire" hidden>
                    {% include 'chapters/_summary.html.twig' with {chapters: course.formation.chapters} only %}
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block javascripts__footer %}
    <script>
        (function () {
            const toggle = document.querySelector('.chapters-toggle')
            const container = document.querySelector('.is-chapter')
            if (toggle) {
                toggle.addEventListener('click',function () {
                    container.classList.toggle('is-folded')
                })
            }
        })()
    </script>
{% endblock %}