{% extends 'blank.html.twig' %}

{% block title 'Récupération du mot de passe' %}

{% block body %}

    <div class="min-h-screen w-full justify-center grid grid-cols-8">
        <div class="col-span-full lg:col-span-3 w-full min-h-screen px-4 py-4">
            <div class="flex justify-center items-center h-full">
                <!-- content -->
                {{ form_start(form, { 'attr': {'class': 'reveal'} }) }}
                    <div class="w-full max-w-md grid grid-cols-3 gap-3">
                        <div class="col-span-full mb-4">
                            <a href="{{ path('app_home') }}" class="block animate-fade-in-left font-hanken-grotesk lg:hidden text-3xl text-gray-800 dark:text-gray-100 font-bold leading-tight tracking-tight">
                                {{ app_name }}
                            </a>
                        </div>
                        <div class="col-span-full">
                            <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-2 reveal">Mot de passe oublié ?</h2>
                            <p class="text-gray-400 dark:text-gray-400 reveal" data-delay=".1">
                                Pas de problème ! nous allons vous aider à le réinitialiser.
                            </p>
                        </div>

                        <div class="col-span-full">
                            {{ include('partials/flash.html.twig') }}
                        </div>

                        <div class="col-span-full">
                            {{ form_row(form.email) }}
                        </div>

                        <div class="col-span-full mt-4">
                            <button type="submit"
                                    class="btn btn-md btn-primary w-full">
                                Envoyer le lien de réinitialisation
                            </button>
                        </div>
                    </div>

                    <div class="border border-gray-100 dark:border-gray-700 my-6"></div>

                    <div class="flex items-center justify-center w-full">
                    <a href="{{ path('app_login') }}"
                       class="flex items-center text-sm font-medium text-primary-600 dark:text-primary-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <line x1="5" y1="12" x2="19" y2="12"/>
                            <line x1="5" y1="12" x2="9" y2="16"/>
                            <line x1="5" y1="12" x2="9" y2="8"/>
                        </svg>
                        Retour à la connexion
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="hidden lg:flex p-8 2xl:p-20 col-span-5 flex-col justify-between w-full min-h-screen auth-image-login">
            <div class="flex justify-between flex-col gap-4">
                <div class="flex justify-end">
                    <a href="{{ path('app_home') }}" class="text-2xl text-white hover:text-white-soft font-bold leading-tight tracking-tight md:text-3xl mb-2 reveal">
                        {{ app_name }}
                    </a>
                </div>
            </div>
            <div class="">
                <p class="text-xl text-white reveal mb-4" data-delay=".2">
                    TicketLy nous a permis de gérer nos événements de manière efficace. Nous avons pu vendre plus de tickets et
                    gérer les inscriptions de manière plus simple.
                </p>
                <p class="text-sm font-medium text-white reveal" data-delay=".4">
                    — Lazare Fortune, CEO de TicketLy
                </p>
            </div>
        </div>
    </div>
{% endblock %}