{% extends 'auth/auth_base.html.twig' %}

{% block title 'Récupération du mot de passe' %}

{% block auth_content %}
    {{ form_start(form, { 'attr': {'class': 'reveal'} }) }}
    <div class="w-full max-w-md grid grid-cols-3 gap-3">
        <!-- Nom de l'application -->
        <div class="col-span-full mb-4 flex justify-center">
            <a href="{{ path('app_home') }}" class="block animate-fade-in-left font-hanken-grotesk text-3xl text-gray-800 dark:text-gray-100 font-medium leading-tight tracking-tight">
                <img src="{{ asset('images/logo.png') }}" alt="{{ app_name }}" class="h-16">
            </a>
        </div>

        <!-- Titre et message -->
        <div class="col-span-full">
            <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-2">Mot de passe oublié ?</h2>
            <p class="text-gray-400 dark:text-gray-400">Pas de problème ! Nous allons vous aider à le réinitialiser.</p>
        </div>

        <!-- Flash message et input email -->
        <div class="col-span-full">
            {{ include('partials/flash.html.twig') }}
        </div>

        <div class="col-span-full">
            {{ form_row(form.email) }}
        </div>

        <!-- Bouton d'envoi -->
        <div class="col-span-full mt-4">
            <button type="submit" class="btn btn-md btn-primary w-full">Envoyer le lien de réinitialisation</button>
        </div>
    </div>

    <div class="border border-gray-100 dark:border-gray-700 my-6"></div>

    <!-- Lien vers la connexion -->
    <div class="flex items-center justify-center w-full">
        <a href="{{ path('app_login') }}" class="flex items-center text-sm font-medium text-primary-600 dark:text-primary-500">
            {{ icon('move-left') }}
            <span class="ml-2">Retour à la connexion</span>
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
