{% extends 'auth/base_auth.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block auth_body %}

    <div class="container-box">
        <div class="stack">

            <div class="text-left">
                <h1 class="text-3xl font-bold text-primary-900 reveal">
                    Mot de passe oublié ?
                </h1>
                <p class="mt-2 text-base font-light text-gray-500 dark:text-gray-400 reveal" data-delay=".2">
                    Pas de problème ! nous allons vous aider à le réinitialiser.
                </p>
            </div>

            {{ include('partials/flash.html.twig') }}

            {{ form_start(form, {'attr': {'class': 'stack reveal', 'data-delay': '.2'}}) }}
            {{ form_row(form.email) }}

            <button type="submit"
                    class="btn btn-primary">
                Réinitialiser le mot de passe
            </button>

            <div class="flex items-center justify-center w-full">
                <a href="{{ path('app_login') }}"
                   class="flex items-center text-sm font-medium text-primary-600 dark:text-primary-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left"
                         width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <line x1="5" y1="12" x2="19" y2="12"/>
                        <line x1="5" y1="12" x2="9" y2="16"/>
                        <line x1="5" y1="12" x2="9" y2="8"/>
                    </svg>
                    Retour à la connexion
                </a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
