{% extends 'auth/base_auth.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block auth_body %}

    <div class="text-left ">
        <h1 class="text-3xl font-bold text-primary-900 reveal">
            Hey,
        </h1>
        <p class="mt-1 text-base text-slate-400 reveal" data-delay=".2">
            Content de te revoir !
        </p>
    </div>
    <form class="space-y-4 md:space-y-6 reveal" data-delay=".4" action="#" method="post">

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {% if error %}
            <div class="alert alert-danger text-center">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="space-y-1">
            <label for="email" class="label">E-mail</label>
            <input type="email" name="email" id="email" value="{{ last_username }}"
                   required="" class="form-input-lg">
        </div>
        <div class="space-y-1">
            <label for="password" class="label">
                Mot de passe
            </label>
            <input type="password" name="password" id="password" class="form-input-lg"
                   autocomplete="current-password"
                   required="">
            <p class="mt-2">
                <a href="{{ path('app_forgot_password') }}"
                   class="text-base font-medium text-primary-600 dark:text-primary-500">
                    Vous avez oublié votre mot de passe ?
                </a>
            </p>
        </div>

        <div class="flex items-center justify-between">
            <label for="remember_me" class="flex items-center">
                <input id="remember_me" type="checkbox"
                       class="form-checkbox-md"
                       name="remember_me">
                <span class="ml-2 text-base text-gray-600 dark:text-gray-400">Se souvenir de moi</span>
            </label>
        </div>

        <button type="submit"
                class="btn-primary py-4">
            Se connecter
        </button>

        <p class="text-base font-light text-gray-500 dark:text-gray-400">
            Vous n'êtes pas encore membre ?
            <a href="{{ path('app_register') }}"
               class="font-medium text-primary-600 dark:text-primary-500">
                Inscrivez-vous
            </a>
        </p>
    </form>

{% endblock %}
