{% extends 'auth/base_auth.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block auth_body %}
    <div class="mb-4">

        <h1 class="text-2xl text-gray-600 font-bold leading-tight tracking-tight md:text-3xl dark:text-white mb-2 reveal">
            <span class="text-primary-900 dark:text-primary-900">{{ app_name }}</span>
        </h1>
        <p class="text-gray-400 dark:text-gray-400 reveal" data-delay=".2">
            Il n'est jamais trop tard pour rejoindre la communauté
        </p>
    </div>

    {{ form_start(registrationForm, {
        attr: {
            class: 'space-y-4 md:space-y-6 reveal',
            'data-delay': '.4'
        }
    }) }}

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger">{{ flash_error }}</div>
    {% endfor %}

    {{ form_row(registrationForm.fullname, {
        label: 'Nom',
        label_attr: {
            class: 'label'
        },
        attr: {
            'class': 'flex-1 form-input-lg'
        }
    }) }}

    {{ form_row(registrationForm.email, {
        label: 'E-mail',
        label_attr: {
            class: 'label'
        },
        'attr': {
            'class': 'form-input-lg',
        }
    }) }}

    {{ form_row(registrationForm.plainPassword, {
        label: 'Mot de passe',
        label_attr: {
            class: 'label'
        },
        'attr': {
            'class': 'form-input-lg',
        }
    }) }}

    <div class="flex justify-between flex-col">
        <div class="flex items-start">
            <div class="flex items-center h-5">
                {{ form_widget(registrationForm.agreeTerms, {
                    'id': 'agreeTerms',
                    'attr': {
                        'class': 'form-checkbox-md'
                    }
                }) }}
            </div>
            <div class="ml-3 text-base">
                <label for="agreeTerms" class="text-gray-500 dark:text-gray-300">
                    J'accepte les <a href="{{ path('app_cgu') }}"
                                     class="link"
                                     target="_blank">conditions
                        d'utilisation</a>
                </label>
            </div>
        </div>
        <div class="form-error">
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
    </div>

    {{ form_row(registrationForm.captcha) }}

    <button type="submit"
            class="btn-primary w-full">
        Créer mon compte
    </button>
    <p class="text-base font-light text-gray-500">
        <span>Vous avez déjà un compte ?</span>
        <a href="{{ path('app_login') }}"
           class="font-medium text-primary-600 dark:text-primary-500">
            Connectez-vous
        </a>
    </p>
    {{ form_end(registrationForm) }}
{% endblock %}