{% extends 'auth/base_auth.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block auth_body %}

    <div class="stack">
        <div class="text-left">
            <h1 class="text-3xl font-bold text-primary-900 reveal">
                Réinitialiser mon mot de passe
            </h1>
            <p class="mt-2 text-base font-light text-gray-500 dark:text-gray-400 reveal" data-delay=".2">
                Bonjour <span class="text-slate-950 font-bold">{{ user.fullname }}</span> ! <br>
                Veuillez saisir votre nouveau mot de passe.
            </p>
        </div>

        {{ include('partials/flash.html.twig') }}

        {{ form_start(form, {'attr': {'class': 'stack reveal', 'data-delay': '.4'}}) }}
        {{ form_row(form.password) }}

        <button type="submit"
                class="w-full btn-lg btn-primary py-4">
            Modifier mon mot de passe
        </button>

        <p class="text-base font-light text-gray-500 dark:text-gray-400">
            Vous n'êtes pas encore client ?
            <a href="{{ path('app_register') }}"
               class="font-medium text-primary-600 dark:text-primary-500">
                Nous rejoindre
            </a>
        </p>
        {{ form_end(form) }}
    </div>

{% endblock %}
