{% extends 'admin/base.html.twig' %}

{% block title %}Transactions détails{% endblock %}

{% block body %}
    <div class="dashboard-page-header">
        <nav class="breadcrumb" aria-label="Breadcrumb">
            <ol>
                <li>
                    <a href="{{ path('admin_home') }}">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor" viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"></path>
                        </svg>
                        Accueil
                    </a>
                </li>
                {{ icon('chevron-right') }}
                <li>
                    <a href="{{ path('admin_transaction_index') }}">
                        Transactions
                    </a>
                </li>
                {{ icon('chevron-right') }}
                <li aria-current="page">
                    <span>{{ transaction.id }}</span>
                </li>
            </ol>
        </nav>
    </div>

    <div class="stack">
        <h2 class="text-2xl font-semibold">Transaction</h2>
        <div class="mb-10 rounded border border-slate-200 dark:border-slate-800 p-5 stack-large">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
                <div>
                    <p class="text-sm font-semibold text-slate-500">ID</p>
                    <p class="text-lg font-semibold">{{ transaction.id }}</p>
                </div>
                <div>
                    <p class="text-sm font-semibold text-slate-500">Prestation</p>
                    <p class="text-lg font-semibold">{{ transaction.appointments.first.prestation.name }}</p>
                </div>
                <div>
                    <p class="text-sm font-semibold text-slate-500">Montant</p>
                    <p class="text-lg font-semibold">{{ transaction.amount|money }}</p>
                </div>
                <div>
                    <p class="text-sm font-semibold text-slate-500">Statut</p>
                    <p class="text-lg font-semibold">{{ transaction.status }}</p>
                </div>
                <div>
                    <p class="text-sm font-semibold text-slate-500">Client</p>
                    <p class="text-lg font-semibold">{{ transaction.client.fullname }}</p>
                </div>
                <div>
                    <p class="text-sm font-semibold text-slate-500">Initié le</p>
                    <p class="text-lg font-semibold">{{ transaction.createdAt|date('d/m/Y à H:i') }}</p>
                </div>
                <div>
                    <p class="text-sm font-semibold text-slate-500">Mis à jour le</p>
                    <p class="text-lg font-semibold">{{ transaction.updatedAt|date('d/m/Y à H:i') }}</p>
                </div>
            </div>
        </div>

        <h2 class="text-2xl font-semibold">Paiements</h2>
        <div class="mb-10 rounded border border-slate-200 dark:border-slate-800 p-5 stack-large">
            <div class="overflow-x-auto">
                <table class="min-w-full table">
                    <thead>
                    <tr>
                        <th class="text-left text-sm font-semibold text-slate-500">ID</th>
                        <th class="text-left text-sm font-semibold text-slate-500">Montant</th>
                        <th class="text-left text-sm font-semibold text-slate-500">Moyen de paiement</th>
                        <th class="text-left text-sm font-semibold text-slate-500">Statut</th>
                        <th class="text-left text-sm font-semibold text-slate-500">Initié le</th>
                        <th class="text-left text-sm font-semibold text-slate-500">Mis à jour le</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in transaction.payments %}
                        <tr>
                            <td class="text-lg font-semibold">{{ payment.id }}</td>
                            <td class="text-lg font-semibold">{{ payment.amount|money }}</td>
                            <td class="text-lg font-semibold">{{ payment.paymentMethod }}</td>
                            <td class="text-lg font-semibold">{{ payment.status }}</td>
                            <td class="text-lg font-semibold">{{ payment.createdAt|date('d/m/Y à H:i') }}</td>
                            <td class="text-lg font-semibold">{{ payment.updatedAt|date('d/m/Y à H:i') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center text-lg font-semibold text-slate-500">Aucun paiement</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
