{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Animation pour le contour */
        @keyframes contourAnimation {
            0% {
                transform: scale(0.95);
                opacity: 0.5;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }

        /* Animation pour le check */
        @keyframes checkAnimation {
            0% {
                transform: scale(0);
                opacity: 0;
            }
            50% {
                transform: scale(1.2);
                opacity: 1;
            }
            100% {
                transform: scale(1);
            }
        }

        .contour-animated {
            animation: contourAnimation 0.5s ease-out forwards;
        }

        .check-animated {
            animation: checkAnimation 0.5s 0.3s ease-out forwards;
        }

    </style>
{% endblock %}

{% block body %}

    <section class="container-box py-10">
        <div class="stack">

            {{ include('partials/flash.html.twig') }}

            <div class="mx-auto">
                {% if isPaid %}
                    <div class="bg-green-100  text-white rounded-full w-32 h-32 flex items-center justify-center mx-auto contour-animated">
                        <div class="bg-green-500 text-white rounded-full w-20 h-20 flex items-center justify-center mx-auto check-animated">
                            <svg class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M5 13l4 4L19 7"></path>
                            </svg>
                        </div>
                    </div>

                    <h1 class="h1 text-center mt-6 reveal">Paiement effectué</h1>
                    <p class="mt-4 text-center text-gray-400 reveal" data-delay=".1">Votre paiement a bien été effectué.
                        Vous allez recevoir
                        un
                        email de
                        confirmation.
                    </p>

                    <div class="text-center mt-6 reveal" data-delay=".3">
                        <a href="{{ path('app_home') }}"
                           class="btn-primary">
                            Continuer
                        </a>
                    </div>
                {% else %}
                    <div class="bg-red-100  text-white rounded-full w-32 h-32 flex items-center justify-center mx-auto contour-animated">
                        <div class="bg-red-500 text-white rounded-full w-20 h-20 flex items-center justify-center mx-auto check-animated">
                            <svg class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </div>
                    </div>

                    <h1 class="h1 text-center mt-6 reveal">Paiement refusé</h1>
                    <p class="mt-4 text-center text-gray-400 reveal" data-delay=".1">
                        Oups! Il y a eu un problème avec votre paiement.
                        Veuillez réessayer ou contacter le support.
                    </p>

                    <div class="text-center mt-6 reveal" data-delay=".3">
                        <a href="{{ path('app_home') }}"
                           class="btn-danger">
                            Retour
                        </a>
                    </div>
                {% endif %}
            </div>

        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const isPaid = {{ isPaid ? 'true' : 'false' }};

            if (!isPaid) {
                return;
            }
            confetti(
                {
                    particleCount: 100,
                    spread: 70,
                    origin: {y: 0.6}
                }
            );

            setTimeout(function () {
                confetti(
                    {
                        particleCount: 100,
                        spread: 70,
                        origin: {y: 0.6}
                    }
                );
            }, 500);
        });
    </script>
{% endblock %}