{% extends 'dashboard/event/event_details_base.html.twig' %}

{% block event_content %}
    <div class="">
        <h2 class="text-base font-semibold text-zinc-950 dark:text-white">Collaborateurs</h2>
        <div class="table-wrapper mt-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if event.collaborators is empty %}
                    <tr>
                        <td colspan="4" class="text-center">Aucun collaborateur pour cet événement</td>
                    </tr>
                {% else %}
                    {% for collaborator in event.collaborators %}
                        <tr>
                            <td>
                                <div class="flex items-center gap-2">
                                    <img class="rounded-full w-8 h-8 object-cover"
                                         src="{{ collaborator.collaborator|avatar }}" alt="{{ collaborator.collaborator.email }}">
                                    <p class="text-sm">{{ collaborator.collaborator.email }}</p>
                                </div>
                            </td>
                            <td>
                                {% if collaborator.roles is empty %}
                                    <span class="text-sm bg-gray-200 text-gray-900 rounded px-2 py-1">Aucun rôle</span>
                                {% else %}
                                    {% for role in collaborator.roles %}
                                        <span class="text-sm bg-primary-200 text-primary-900 rounded px-2 py-1">{{ role }}</span>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('dashboard_event_collaborators_modify', {id: event.id, collaborator: collaborator.collaborator.id}) }}" class="btn-icon">
                                    {{ icon('pencil') }}
                                </a>
                                <ajax-delete
                                        target="tr"
                                        url="{{ path('dashboard_event_collaborators_remove', {id: event.id, collaborator: collaborator.collaborator.id}) }}" class="btn-icon">
                                    {{ icon('trash') }}
                                </ajax-delete>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if collaborationInvitations %}
                    {% for invitation in collaborationInvitations %}
                        <tr>
                            <td>
                                <div class="flex items-center gap-2">
                                    <p class="text-sm">{{ invitation.email }}</p>
                                </div>
                            </td>
                            <td>
                                <span class="text-sm bg-gray-200 text-gray-900 rounded px-2 py-1">Invitation en attente</span>
                            </td>
                            <td>
                                <ajax-delete
                                        target="tr"
                                        url="{{ path('dashboard_event_collaborators_cancel_invitation', {id: event.id, invitation: invitation.id}) }}" class="btn-icon">
                                    {{ icon('trash') }}
                                </ajax-delete>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('dashboard_event_collaborators_invite', {id: event.id}) }}" class="btn btn-light mt-8">
            {{ icon('user-plus') }}
            Inviter un collaborateur
        </a>
    </div>
{% endblock %}
