{% extends 'dashboard/event/event_details_base.html.twig' %}

{% block event_content %}
    <div>
        <h2 class="text-base font-semibold text-zinc-950 dark:text-white">Coupons</h2>
        <div class="table-wrapper mt-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Valeur</th>
                    <th>Expiration</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if coupons is empty %}
                    <tr>
                        <td colspan="5" class="text-center">Aucun coupon pour cet événement</td>
                    </tr>
                {% else %}
                    {% for coupon in coupons %}
                        <tr>
                            <td>{{ coupon.code|obfuscate_word }}</td>
                            <td>{{ coupon.typeCoupon == 'percentage' ? 'Pourcentage' : 'Fixe' }}</td>
                            <td>{{ coupon.typeCoupon == 'percentage' ? coupon.valueCoupon ~ ' %' : coupon.valueCoupon|price_format }}</td>
                            <td>{{ coupon.expiresAt|format_datetime('medium', 'short', locale='fr') }}</td>
                            <td>
                                <a href="{{ path('dashboard_event_coupon_edit', {id: coupon.id}) }}" class="btn-icon">
                                    {{ icon('pencil') }}
                                </a>
                                <ajax-delete
                                        target="tr"
                                        url="{{ path('dashboard_event_coupon_delete', {id: coupon.id}) }}" class="btn-icon">
                                    {{ icon('trash') }}
                                </ajax-delete>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('dashboard_event_coupon_new', {event: event.id}) }}" class="btn btn-light mt-4">
            {{ icon('plus') }}
            Ajouter un coupon
        </a>
    </div>
{% endblock %}
