{% extends 'dashboard/base.html.twig' %}

{% block title %} Événements {% endblock %}

{% block body %}

    <div class="dashboard-page-header">
        <nav class="breadcrumb" aria-label="Breadcrumb">
            <ol>
                <li>
                    <a href="{{ path('dashboard_home') }}">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor" viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"></path>
                        </svg>
                        Accueil
                    </a>
                </li>
                {{ icon('chevron-right') }}
                <li>
                    <span>Événements</span>
                </li>
            </ol>
        </nav>
    </div>

    <div class="flex flex-wrap items-end justify-between gap-4">
        <div class="max-sm:w-full sm:flex-1">
            <h1 class="text-2xl/8 font-semibold text-slate-900 sm:text-xl/8 dark:text-white">Événements</h1>
            <div class="mt-4 flex max-w-xl gap-4">
                <input type="search" placeholder="Rechercher un événement" class="placeholder-slate-300 form-input">
            </div>
        </div>
        <a href="{{ path(prefix ~ '_new') }}" class="btn btn-primary">
            {{ icon('plus') }}
            Créer un événement
        </a>
    </div>

    <ul class="mt-10">
        {% for row in rows %}
        <li>
            <hr role="presentation" class="w-full border-t border-zinc-950/10 dark:border-white/10">
            <div class="flex items-center justify-between">
                <div class="flex gap-6 py-6">
                    <div class="w-32 shrink-0">
                        <a href="{{ path(prefix ~ '_overview', {id: row.id}) }}">
                            <img src="{{ row|event_image }}" alt="{{ row.slug }}-logo"
                                 class="aspect-[3/2] rounded-lg shadow object-cover w-32 h-24">
                        </a>
                    </div>
                    <div class="space-y-1.5">
                        <div class="text-base font-medium">
                            <a data-headlessui-state="" href="{{ path(prefix ~ '_overview', {id: row.id}) }}">
                                {{ row.name }}
                            </a>
                        </div>
                        <div class="text-sm text-zinc-500">
                            {{ event_duration(row.startDate, row.endDate) }}
                        </div>
                        <div class="text-sm text-zinc-600">
                            {{ row.location }}
                        </div>
                    </div>
                </div>
                <div class="flex items-center gap-4">
                    {% if row.isExpired %}
                    <span class="max-sm:hidden inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-red-400/20 text-red-700 group-data-[hover]:bg-red-400/30 dark:bg-red-400/10 dark:text-red-300 dark:group-data-[hover]:bg-red-400/15">Hors vente</span>
                    {% else %}
                        {% if row.isActive %}
                            <span
                                    class="max-sm:hidden inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-lime-400/20 text-lime-700 group-data-[hover]:bg-lime-400/30 dark:bg-lime-400/10 dark:text-lime-300 dark:group-data-[hover]:bg-lime-400/15">
                                En vente
                            </span>
                        {% else %}
                            <span
                                    class="max-sm:hidden inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-orange-400/20 text-orange-700 group-data-[hover]:bg-lime-400/30 dark:bg-lime-400/10 dark:text-orange-300 dark:group-data-[hover]:bg-orange-400/15">
                                Hors ligne
                            </span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}